
.none{display:none;}
.dropdown{color: #000;font-size:17px;}
.dropdown option {
    color: #000;
}
#calender_section{width:700px;margin:30px auto 0;/* background:white; */color: white;font-size: :2vw;font-weight: 900;text-shadow:  0px 0px 0.2vw black;}
#calender_section h2{   color:#fff; font-size:17px; text-align:center; line-height:40px;}
#calender_section h2 a{color: #166d8a;float:none;}
#calender_section_top{ width:100%; float:left; margin-top:20px;}
#calender_section_top ul{padding:0; list-style-type:none;}
#calender_section_top ul li{float:left;display:block;width:99px;/* border-right:1px solid #fff; */text-align:center;font-size:14px;min-height:0;/* background:#000; */color:white;box-shadow:none;margin:0;padding:0;}
#calender_section_bot{max-width: 694px;margin-top:20px;float:left;border-left:1px solid #ccc;margin-bottom: 50px;color: white;font-weight: 900;font-size: 1vw;text-shadow: 0px 0px 0.1vw black;border-bottom:1px solid #ccc;}
#calender_section_bot ul{ margin:0; padding:0; list-style-type:none;}
#calender_section_bot ul li{float:left;width: 99px;height:80px;text-align:center;border-top:1px solid #ccc;border-right:1px solid #ccc;min-height:0;background: none;box-shadow:none;margin:0;padding:0;position:relative;}
#calender_section_bot ul li span{ margin-top:7px; float:left; margin-left:7px; text-align:center;}
a {color: #166d8a;}
.grey{background-color: #000000 !important;}
.light_sky{background-color: #226581 !important;}

/*========== Hover Popup ===============*/
.date_cell { cursor: pointer; cursor: hand; }
.date_cell:hover { background: #DDDDDD !important; }
.date_popup_wrap {
    position: absolute;
    width: 250px;
    height: auto;
    padding-bottom: 35%;
    z-index: 9999;
    top: 10%;
    left: 10%;
    color: #000!important;
    text-align: center;
}
.events_window {
    overflow: hidden;
    overflow-y: auto;
    width: 200px;
    height: 200px;
    margin-top: 28px;
    margin-left: 25px;
    text-align: center-left;
}
.event_wrap {
    margin-bottom: 10px; padding-bottom: 10px;
    border-bottom: solid 1px #E4E4E7;
    font-size: 12px;
    padding: 3px;

}
.date_window {
    margin-top:20px;
    margin-bottom: 2px;
    padding: 5px;
    font-size: 16px;
    margin-left:9px;
    background: rgba(0,0,0,0.5);
    background-size: 100% 100%;
    margin-right:14px;
}
.popup_event {
    margin-bottom: 2px;
    padding: 2px;
    font-size: 16px;
    width:100%;
}
.popup_event a {color: #000000 !important;}
.packeg_box a {color: #F58220;float: right;}
a:hover {color: #000;text-decoration: underline;}

@media only screen and (min-width:480px) and (max-width:767px) {
    #calender_section{ width:336px;}
    #calender_section_top ul li{ width:47px;}
    #calender_section_bot ul li{ width:47px;}
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    #calender_section{/* width:219px; */}
    #calender_section_top ul li{width: 14%;font-size:11px;}
    #calender_section_bot ul li{width: 14%;}
    #calender_section_bot{max-width: 500px;}
    #calender_section_bot ul li{ height:50px;}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #calender_section{ width:530px;}
    #calender_section_top ul li{ width:74px;}
    #calender_section_bot ul li{ width:74px;}
    #calender_section_bot{ width:525px;}
    #calender_section_bot ul li{ height:50px;}
}
#eventTime{
    background: white;
    padding: 11px;
}


/* ///////////////////////////////////////////////////////////////////////// */
 


.eye{
    width: 8vw;
    height: 8vw;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    border: 2px solid #11EFF7;
    background: #116DF7;
    z-index: -3;
    margin-top: -7%;
    position: absolute;
    left: 1%;
    /* margin: -100px 0 0 -100px; */
    cursor:pointer;
}

.iris{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-image: radial-gradient(ellipse, #fff 0%,#fff 15%,#11EFF7 20%,#116DF7 60%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -2;cursor:pointer;
    border-radius: 100%;
    transition: background-size 0.2s;
    transition:0.4s;
}

.rim{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;cursor:pointer;
    border-radius: 100%;
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 1);
    border: 1px solid #000;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}


.blade{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;cursor:pointer;
}

.blade > div{
    width: 80%;
    height: 120%;
    border-radius: 100%;
    background: #1D1F20;cursor:pointer;
    position: absolute;
    top:0;
    left:-29%;
    box-shadow: inset 0 0 5em 0 rgba(0, 0, 0, 0.8),
    inset 0 0 1px 1px rgba(255, 255, 255, 0.2),
    0 0 0 1px rgba(0, 0, 0, 0.8),
    0 0 5px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: absolute;
    transition: all 0.2s; -webkit-transition: all 0.2s;
}

html:hover .blade > div{
    left:-60%;
}
html:active .iris{
    background-size: 50%;
}
html:active .blade > div{
    left:-65%;
}
html:active .blade:nth-child(4) > div{
    left:-50%;
}
html:active .blade:nth-child(8) > div{
    left:-40%;
}

.blade:nth-child(1){
    transform: rotate(50deg);
}

.blade:nth-child(2){
    transform: rotate(5deg);
}

.blade:nth-child(3){
    transform: rotate(-40deg);
}

.blade:nth-child(4){
    transform: rotate(-85deg);
}

.blade:nth-child(5){
    transform: rotate(-130deg);
}

.blade:nth-child(6){
    transform: rotate(-175deg);
}

.blade:nth-child(7){
    transform: rotate(-220deg);
}

.blade:nth-child(8){
    transform: rotate(-265deg);
}

td{
    overflow: hidden;
    max-width: 150px;
    /* white-space: pre; */
    word-wrap: break-word;
    height:auto;
}
input{
    overflow: hidden;
    max-width: 95%;
    /* white-space: pre; */
    word-wrap: break-word;
    height:auto;
}
button,button:hover,input,input:hover,select,option{
    cursor:pointer;
}
.vz-wrapper {
    /* position: fixed; */
    /* height: 2vw; */
    /* width: 100%; */
    z-index: -155;
    left: 4%;
    margin-top: -3%;
    transform: rotateZ(-92deg);
    /* background: -webkit-gradient(radial, center center, 0, center center, 460, from(#396362), to(#000000)); */
    /* background: -webkit-radial-gradient(circle, #396362, #000000); */
    background: -moz-radial-gradient(circle, #396362, #000000);
    background: -ms-radial-gradient(circle, #396362, #000000);
    /* box-shadow: inset 0 0 160px 0 #000; */
    /* cursor: pointer; */
    /* z-index: -122; */
    position: absolute;
}

.vz-wrapper.-canvas {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: initial;
    width: initial;
    background: transparent;
    box-shadow: none;
    z-index: -25;
}

@media screen and (min-width: 420px) {
    .vz-wrapper {/* box-shadow: inset 0 0 200px 60px #000; */}
}
#panel{
    overflow:hidden;
    max-width:100vw;
    /* background: black; */
    color:white;
    position:fixed;
    left:0;
    padding-left: 6%;
    padding-top: 1%;
    bottom: 4%;
    width:100vw;
    height: 4vw;
    border-bottom: 0.2vw solid silver;
    font-size: 2vw;
    min-width:300px;
    z-index: -5555;
    word-wrap:wrap;
    /* display:none; */
    /* padding:1%; */
    /* display:inline-block; */
    /* background-size: 100% 100%; */
}
#formrobot{
    display:none;
}
ul {
    margin: 0;
}
.redrobot{
    background:radial-gradient(rgb(255, 255, 255) 0%, rgb(107, 49, 49) 15%, rgb(255, 0, 0) 20%, rgb(107, 8, 8) 60%) !important;

}
#word,#playbtn,#textarea{
    opacity:0;
    position:absolute;
    margin-top:-55%;
}

.hints span {
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    display:none;
}
input[type="button"] {
    background: black;
    font-weight: 800;
}

select, option, textarea{
    color: black !important;
}

#event_add {

    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.92);
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    z-index: 110047 !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

#event_add .paragraph {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    float: left;
}
#event_add #fermer {
    float: right;
    padding: 10px;
    cursor: pointer;
}
#event_add #mytable {
    width: 100%;
    text-align: center;
    padding: 0;
    margin-top: 25vh;
    /* display: table-cell; */
    vertical-align: middle;
}
#mytable tr td *{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
#mytable tr td input,#mytable tr td p *{
    width: 100%;
    margin-top: 15px;
    max-width: 500px;
}

#event_list {

    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.92);
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    z-index: 110047 !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

#event_list .paragraph {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    float: left;
}
#event_list #fermer {
    float: right;
    padding: 10px;
    cursor: pointer;
}
#event_list #mytable {
    width: 100%;
    text-align: center;
    padding: 0;
    margin-top: 25vh;
    /* display: table-cell; */
    vertical-align: middle;
}
#event_list tr td *{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
#event_list tr td input,#event_list tr td p *{
    width: 100%;
    margin-top: 15px;
    max-width: 500px;
}