 

.footer{
	background:#fff !important; 
	color: black;
	bottom:0; 
	position:relative;
	padding:0 !important;
	display: inline-block !important;
	 bottom:0;  
	width: 100% !important;
	.container {
		 
		width: 100%;
		left:0; 
	}
	#section_power{
		background-image: linear-gradient(180deg, #ffffff 21%, #000000 80%);
		overflow: hidden;
		text-align: center; 
		z-index:0;
		
		.logo-powered {  
		 
			
			#Layer_1 {
				 
				opacity:0.9;
				filter: drop-shadow(black 0px 0px 2px);
				position: relative;  
				overflow: visible;     
				transition: all 3s;
				max-width:100%;
				
				polygon {  
					opacity:1;
					fill:#fff;
					transition: all 3s;
				}
			}
		}
		&:after{
			content: " ";
			transform: rotate(180deg);
			//background-image: url(../images/section.svg);
			background-size: cover;
			background-position: bottom;
			position: absolute;
			left: 0;
			top: -1px; 
			transition: none !important;
			height: 100%;
			width: 100%;
		}
	}
	.copyright {
		margin: 0 !important;
		//background: linear-gradient(180deg,black,white);
		background:black;
		position: relative; 
		ul {
		    padding: 0;
			margin: 0;
			display: inline-table;
			width: 100%;
			
			li{
			
				display: table-cell;
				vertical-align: middle;
				padding: 1% 2%;  
				width:33%; 
				text-align: center;
				
				@media screen and (max-width: 1024px){
					padding:0;
					display: block;
					text-align: center;
					width: 100%;
				}
				
				
				a {
					color: rgba(255,255,255,0.8) !important;
					text-shadow: -2px 0px 2px black
				}
			}
		}
		

	} 
	.container { 
		.row {
			background: @color;
			
			a{
			    margin: 0 auto;
				background: black;
				position: relative;
				width: 150px;
				display: block;
				
				.logo-footer{
					width: 150px;
					position:relative;
				}
			}
		}
	}
	.text-center{

		max-width: inherit;
	}
	.social-area{
		padding:40px 0;
		text-align: center;
		.btn{
			color: #fff; 
		}
	}
}
.dragon {
	position: relative;
	z-index: 2;
	background: #fff;
	color: black;
	text-align: center;
    display: table; 
    margin: 0 auto;
	
	.table-cell-footer{
		display: table-cell;
		vertical-align: middle;
		
		@media screen and ( max-width: 1024px){
			
			display: inline;
			vertical-align: middle;
			padding: 2%;
			
		}
		
	}
	
	img {
		display: initial !important;
		height: 50px;
		object-fit: cover;
		width: auto;
	}
}