#header{

    position: relative;
    overflow: hidden;
    height: 80vh;
    top: 0;
    left: 0;
	z-index:1;
		transition: all 1s;
    width: 100%;
	
	.wrapper_logo_header {
		position: absolute;
		height: 80vh;
		top: 0;
		left: 0;
		width: 100%;
		
		.table {
			position: relative;
			display: table;
			width: 100%;
			height: inherit;
			
			.table-cell {
				position: relative;
				display: table-cell;
				vertical-align: middle; 
				//padding-top: 80px;
				color: @color3;
				
				.header-logo {
					text-align: center;
					position: relative;
					top: 0;
					left: 0;
					z-index: 2;
					display: table;
					width: 100%; 
					
					.mainTitleSharky{
						color: @color2;
						font-size: 23vh;
						font-weight: 800;
						font-family: @font1;
						left:0;
						width: auto;
						text-align: left;
						text-transform: uppercase;
						animation: 30.5s cubic-bezier(0, 0.22, 0.99, 0.76) 0.1s infinite moveRightText;
						
						@media screen and (max-width: 1024px){
							position: absolute;
						}
					}
					.bgSharky {
					
						color: @color;
						font-weight: 800;
						font-size: 23vh;
						font-family: @font1;
						position: absolute;
						top: 5vh;
						text-transform: uppercase;
						right: 0;
						z-index: -1; 
						width: auto;
						text-align: right;
						animation: 40.5s cubic-bezier(0, 0.22, 0.99, 0.76) 0.5s infinite moveLeftText;
					}
					.bottomContent{
						display: table;
						transform: translateY(-50%);
						margin: 4% auto;
						position: relative;
					}
					.header_title {
						display: table-cell;
						vertical-align: middle; 
						font-size: 2rem;
						text-transform: uppercase;
						color: #e97024;
					}
					.suptitle {
						font-family: @font2;
						color: white;
						text-transform: none;
						z-index: 12;
						font-size: 25px;
						margin-bottom: 20px;
						max-width: 1023px; 
						display: block;
						margin: 0 auto;
						text-align: center;
						width: 100%;
						vertical-align: bottom;
						
						@media screen and (max-width: 1024px){
							
							
							font-size: @HugefontsizeMobile; 
							max-width: 80%;
						}
					}
					
					.btn-sharky{
					
						padding: 7px 20px;
						border: 1px solid @color2;
						color: white;
						margin: 4% auto;
						display: table;
					}
				}
			}
		}
	}
	
	&.not_home {
		height: 40vh;
		.wrapper_logo_header {
		
			height: 40vh;
			
			.table {
			
				.table-cell{
					padding-top: 80px;
				}
			}
		}
	}
	
	.bg-header {
		//transform: translateX(-25%) scale(1.5);
		top: 0;
		left: 0;
		min-height: 100%;
		min-width: 100%;
		object-fit: cover;
		position: absolute;
		background-attachment: fixed!important; 
		background-position-x: 0%;
		//animation: 125.5s ease-in-out infinite moveBG;
	}
	
	&:after {
		content: " "; 
		background: rgba(0, 0, 0, 0.3) url(http://sharky.local/images/overlaybg.png);
		background-size: cover;
		background-position: bottom;
		position: absolute;
		left: 0;
		top: 1px;
		height: 100%;
		width: 102%;
	}
}
@keyframes moveBG {
	0% {
		transform: translateX(0);
	} 
	50% {
		transform: translateX(-20vw);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes moveLeftText {
	0% {
		transform: translateX(120%);
	}  
	25%{
	
		transform: translateX(-220%);
	}
	50% {
		transform: translateX(120%);
	}
	100% {
		transform: translateX(-220%);
	}
}
@keyframes moveRightText {
	0% {
		transform: translateX(-120%);
	}  
	25%{
	
		transform: translateX(120%);
	}
	50% {
		transform: translateX(-120%);
	}
	100% {
		transform: translateX(120%);
	}
}