#menu-fullscreen{

	position: fixed;
	top:0; 
	left:0; 
	
    width: 100%; 

	&:before, &:after {
		content: "";
		position: fixed;
		width: 100vw;
		height: 100vh;
		background: rgba(255, 255, 255, 0.6);
		/*border-bottom-right-radius: 100%;
		border-bottom-left-radius: 100%;
		border-top-right-radius: 100%;
		border-top-left-radius: 100%;*/
		z-index: -1;
		-webkit-transition: -webkit-transform cubic-bezier(0.5, 1,0.5, 1) 0.5s, border-radius linear 0.5s;
		transition: -webkit-transform cubic-bezier(0.5, 1,0.5, 1) 0.5s, border-radius linear 0.5s;
		transition: transform  cubic-bezier(0.5, 1,0.5, 1) 0.5s, border-radius linear 0.5s;
		transition: transform cubic-bezier(0.5, 1,0.5, 1) 1s, -webkit-transform cubic-bezier(0.5, 1,0.5, 1) 1s, border-radius linear 1.5s;
		-webkit-transform: translateX(0%) translateY(-100%);
		transform: translateX(0%) translateY(-100%);
	}
	.imgSharkMenu{

		width: 34%;
		height: auto !important;
		position: absolute;
		object-fit: contain;
		left: 0;
		z-index: 2;
		
	}
	.mediasociaux {
		ul {
		
					
			list-style: none;
			display: table;
			padding: 0 !important;
			/* width: 100%; */
			margin: 0 auto;
			
			@media screen and (max-width: 1024px){
							
				margin: 0 auto;
				padding: 0;
			}
			
			li{
			
							
				display: table-cell;
				padding: 20px;
				
				i {
					font-size: 2rem;
					color: @color2;
				}
			}
		}
	}
	&:after{

		background: @color2;
		-webkit-transition-delay: 0s;
			  transition-delay: 0s;
	}
	&:before{
		-webkit-transition-delay: .2s;
			  transition-delay: .2s;

	}
	.menu_overlay{
		position: fixed;
		visibility:hidden;
		z-index: 50 !important;

	}
	.bigText{
		font-size: 28vh;
		text-transform: uppercase;
		font-family: lexend;
		font-weight: 800; 
		position: absolute;
		top: 2%;
		color: rgba(0,0,0,0.06);
	}
	.menu-content{

		position: fixed;
		visibility: hidden;
		height: 100vh;
		display: table; 
		width: 100%;
		text-align: center;
		
		.table-cell{
		
			display: table-cell;
			vertical-align: middle;
			
			.whiteBg{
				background: white;
				padding: 4%;
				right: 3%;
				display: table;
				max-width: 78%;
				float: right;
				transform: translateY(10%);
				position: relative;
				
				@media screen and (max-width: 1024px){
				
					display: block;
					width: 100%;
					padding: 0;
					float: unset;
					right: 0;
					max-width: 100%;
					transform: none;
					margin: 0;
				}
				
			}
		}
		.menu-cup-wine{
			bottom: 0;
			transform: scale(1.2);
			/* filter: drop-shadow(-17px 257px 9px rgba(0,0,0,0.65)); */
			position: absolute;
			/* right: 0; */
			/* width: 200%; */ 
			opacity: 1;
			left: 0; 
		}
		.nav__list{

			position: relative;
			padding: 3%;
			margin: 0;
			margin: 0 auto;
			/* margin-left: 29%; */
			display: table;
			z-index: 2;
			vertical-align: middle;
			/* width: 50%; */
			left: 0;
			
			@media screen and (max-width: 1024px){
				width: 100%; 
				display: block;
				list-style: none;
				margin: 0;
			}

			.nav__list-item{

				position: relative;
				display: inline-block;
				-webkit-transition-delay: 0.8s;
				transition-delay: 0.8s;
				opacity: 0;
				text-align: center;
				padding-left: 3%;
				/* text-align: left; */
				color: #e97024;
				padding: 2%;
				width: 46%;
				white-space: nowrap;
				font-size: 1.5rem;
				font-weight: 900;
				line-height: 1.15;
				letter-spacing: 3px;
				-webkit-transform: translate(100px,0%);
				transform: translate(100px,0%);
				-webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
				transition: opacity .2s ease, -webkit-transform .3s ease;
				transition: opacity .2s ease, transform .3s ease;
				transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
				margin-top: 0;
				margin-bottom: 0;
					
				@media screen and (max-width: 1024px){
					width: 100% !important;
					white-space: normal !important;
				}
				a{

					position: relative;
					text-decoration: none;
					color: @color2;
					overflow: hidden;
					cursor: pointer;
					padding-left: 5px;
					padding-right: 5px;
					font-weight: 900;
					z-index: 2;
					display: inline-block;
					text-transform: uppercase;
					-webkit-transition: all 200ms linear;
					transition: all 200ms linear;

					&:after{

						position: absolute;
						content: '';
						top: 100%;
						margin-top: -2px;
						left: 50%;
						width: 0;
						height: 0;
						opacity: 0;
						background-color: #ffffff !important;
						box-shadow: 0px 0px 7px white;
						z-index: 1;
						-webkit-transition: all 200ms linear;
						transition: all 200ms linear;
					}

					&:hover:after{
						height: 4px;
						opacity: 1;
						left: 0;
						width: 100%;

					}
					&:hover{
						color: black;

					}
				}
				&.active-nav {
					a {

						color: black;

						&:after{

							height: 4px;
							opacity: 1;
							left: 0;
							width: 100%;
						}
					}
				}
			}
		}

		.switch-wrap {
			position: absolute;
			top: 50%;
			left: 0;
			z-index: 10;
			transform: translateY(-50%);
			width: 100%;
			-webkit-transition: all 500ms linear;
			transition: all 500ms linear;
			margin: 0 auto;
			text-align: center;
		}
		.switch-wrap h1 {
			font-weight: 900;
			font-size: @Hugefontsize;
			line-height: 1;
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 40px;
			-webkit-transition: all 300ms linear;
			transition: all 300ms linear;
		}
		@media screen and (max-width: 1024px){
			.switch-wrap h1 {
				font-size: @Hugefontsize;
			}
		}
		.switch-wrap p {
			font-weight: 600;
			font-size: @fontsize;
			letter-spacing: 1px;
			line-height: 1;
			color: #8167a9;
			text-align: center;
			margin-top: 15px;
		}
		.switch-wrap p span {
			position: relative;
		}
		.switch-wrap p span:before {
			position: absolute;
			content: '';
			width: 100%;
			height: 2px;
			background-color: #fff;
			left: 0;
			bottom: -4px;
			-webkit-transition: all 300ms linear;
			transition: all 300ms linear;
		}
		.switch-wrap p span:nth-child(2):before {
			opacity: 0;
		}
		#switch,
		#circle {
			cursor: pointer;
			-webkit-transition: all 300ms linear;
			transition: all 300ms linear;
		}
		#switch {
			width: 60px;
			height: 8px;
			margin: 0 auto;
			margin-top:30px;
			text-align: center;
			border: 2px solid #000;
			border-radius: 27px;
			background: rgb(84, 7, 13);
			position: relative;
			display: inline-block;
		}
		#circle {
			position: absolute;
			top: -11px;
			left: -13px;
			width: 26px;
			height: 26px;
			border-radius: 50%;
			box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
			background: #fff;
		}
		.switched {
			border-color: rgb(84, 7, 13)!important;
			background: #000 !important;
		}
		.switched #circle {
			left: 43px;
			background: #000;
		}
	}
}
.nav-active{
	overflow: hidden !important;
}
.nav-active .menu-cup-wine {
    transform: scale(1)!important;
    transition: opacity 6s ease 0.9s, transform 25s ease 2s;
    opacity: 1!important;
}
&.nav-active{
	#nav-menu{ 
		position: fixed;
		background: none;

	}
	.menu-cup-wine {
		transform: scale(1) !important;
		transition: opacity 6s ease 0.9s, transform 25s ease 2s;
		opacity: 1 !important;
	}
	
	@media screen and (max-width: 1024px){
		.menu-cup-wine {
			max-width: inherit;
			max-height: 19vh;
			width: auto !important;
		}
	}
	
	.menu-content {
		visibility: visible !important;
	}
	.menu-icon *{
		color: white !important;
	}
	.hambdiv div, .hambdiv path {
		color: white !important;
		stroke: white !important;
	
	}
	#nav-menu.fixed {
		background:none;
		.menu-icon *{
			color: white !important;
		}
	}
	.menu-icon__line {
		background-color: #fff !important;
		-webkit-transform: translate(0px, 0px) rotate(-45deg) !important;
			  transform: translate(0px, 0px) rotate(-45deg) !important;
	  }
	.menu-icon__line-left {
		width: 15px;
		-webkit-transform: translate(2px, 4px) rotate(45deg) !important;
			  transform: translate(2px, 4px) rotate(45deg) !important;
	}
	.menu-icon__line-right {
		width: 15px;
		float: right;
		-webkit-transform: translate(-3px, -3.5px) rotate(45deg) !important;
			  transform: translate(-3px, -3.5px) rotate(45deg) !important;
	}
	.menu-icon:hover .menu-icon__line-left,
	.menu-icon:hover .menu-icon__line-right {
		width: 15px !important;
	}
	#menu-fullscreen{
		visibility: visible !important;
		z-index:999;
		height: 100vh;
	}
	#menu-fullscreen:before, #menu-fullscreen:after {
		-webkit-transform: translateX(0%) translateY(0%) !important;
			  transform: translateX(0%) translateY(0%) !important;
		border-radius: 0 !important;
		left:0;

	}
	#menu-fullscreen:after {
		-webkit-transition-delay: .1s !important;
			  transition-delay: .1s !important;
	}
	#menu-fullscreen:before {
		-webkit-transition-delay: 0s !important;
			  transition-delay: 0s !important;
	}
	.nav__list-item {
		opacity: 1 !important;
		-webkit-transform: translateX(0%) !important;
			  transform: translateX(0%) !important;
		-webkit-transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease !important;
		transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease !important;
		transition: opacity .3s ease, transform .3s ease, color .3s ease !important;
		transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease !important;
	}
	.nav__list-item:nth-child(0) {
		-webkit-transition-delay: 0.7s !important;
			  transition-delay: 0.7s !important;
	}
	.nav__list-item:nth-child(1) {
		-webkit-transition-delay: 0.8s !important;
			  transition-delay: 0.8s !important;
	}
	.nav__list-item:nth-child(2) {
		-webkit-transition-delay: 0.9s !important;
			  transition-delay: 0.9s !important;
	}
	.nav__list-item:nth-child(3) {
		-webkit-transition-delay: 1s !important;
			  transition-delay: 1s !important;
	}
	.nav__list-item:nth-child(4) {
		-webkit-transition-delay: 1.1s !important;
			  transition-delay: 1.1s !important;
	}
	.nav__list-item:nth-child(5) {
		-webkit-transition-delay: 1.2s !important;
			  transition-delay: 1.2s !important;
	}
	.nav__list-item:nth-child(6) {
		-webkit-transition-delay: 1.3s !important;
			  transition-delay: 1.3s !important;
	}
	.nav__list-item:nth-child(7) {
		-webkit-transition-delay: 1.4s !important;
			  transition-delay: 1.4s !important;
	}
	.nav__list-item:nth-child(8) {
		-webkit-transition-delay: 1.5s !important;
			  transition-delay: 1.5s !important;
	}
	.nav__list-item:nth-child(9) {
		-webkit-transition-delay: 1.6s !important;
			  transition-delay: 1.6s !important;
	}
	.nav__list-item:nth-child(10) {
		-webkit-transition-delay: 1.7s !important;
			  transition-delay: 1.7s !important;
	}
	.nav__list-item:nth-child(11) {
		-webkit-transition-delay: 1.9s !important;
			  transition-delay: 1.9s !important;
	}
}