														/*navbar full width*/

#nav-menu{
    text-align: center;
    width: 100%;
    display: block;
    top: 0;
    position: absolute;
	transition: all 0.5s !important;
    overflow: hidden;
    background: none; 
    height: 104px;
    left: 0;
    z-index: 1000; 
	
	
														/*navbar wrapper*/
	
	.nav-wrapper {
		position: relative; 
		height: 80px;
		width: 80%;
		display: table;
		margin: 0 auto;
		
														/* navbar container table */
		.nav-logo-wrapper {
			display: table;
			height: 80px;
			width: 100%;
			position: relative;
			
														/* navbar container table */
			
			.nav-hamb-wrapper {
				display: table-cell;
				position: relative; 
				width: 100%;
				vertical-align: middle;
				right: 0;
					
					.submission_btn{
										
						padding: 10px 20px;
						background: #e97024;
						color: white !important;
					}
				
													/* hamburger */
					.hambdiv {
						height: 80px;
						display: inline-table;
						position: relative;
						top: 0;
						left: 0;
						float: right; 
						.table-cell {
							display:table-cell;
							vertical-align: middle;
						}
						
							
						.menu-icon{
							padding-right: 15px;
							padding-left: 15px;
							margin-right: auto;
							margin-left: auto;
							color: white;
							text-decoration: none;
							width: 80px;
							position: relative;
							/* height: 80px; */
							z-index: 2;
							text-align: center;
							cursor: pointer;
							display: block;
							vertical-align: middle;

							@media screen and (max-width: 1024px){
								padding-right: 15px;
								padding-left: 15px;
								margin-right: 0;
								margin-left: 0;
								height: inherit;
								width: 88px;
								position: relative;
								z-index: 2;
							}
							svg{
								cursor: pointer;
								transform: scale(2);
								-webkit-tap-highlight-color: transparent;
								transition: transform 400ms;
								-moz-user-select: none;
								pointer-events: auto !important;
								-webkit-user-select: none;
								-ms-user-select: none;
								user-select: none;
								filter: invert(1);
								position: relative;
								text-align: center;
								width: 30px;
							}
							i{

								font-size: @font-size;
								color: rgba(255,255,255,0.8);
								display: table-cell;
								width: inherit;
								vertical-align: middle;
								
								&:after{
									color: @color2;
								}
							}
							
						}
						.menu-icon__line {
							height: 2px;
							width: 30px;
							display: block;
							background-color: #fff;
							margin-bottom: 7px;
							cursor: pointer;
							-webkit-transition: background-color .5s ease, -webkit-transform .2s ease;
							transition: background-color .5s ease, -webkit-transform .2s ease;
							transition: transform .2s ease, background-color .5s ease;
							transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
						}
						.menu-icon__line-left {
							width: 16.5px;
							-webkit-transition: all 200ms linear;
							transition: all 200ms linear;
						}
						.menu-icon__line-right {
							width: 16.5px;
							float: right;
							-webkit-transition: all 200ms linear;
							-moz-transition: all 200ms linear;
							-o-transition: all 200ms linear;
							-ms-transition: all 200ms linear;
							transition: all 200ms linear;
						}
						.menu-icon:hover .menu-icon__line-left,
						.menu-icon:hover .menu-icon__line-right {
							width: 30px;
						}

						.ham {

							cursor: pointer;
							transform: scale(1.3) translateY(10%);
							-webkit-tap-highlight-color: transparent;
							transition: transform 400ms;
							-moz-user-select: none;
							pointer-events: auto !important;
							-webkit-user-select: none;
							-ms-user-select: none;
							user-select: none;
						}
						.hamRotate.active {
							    transform: scale(1) rotate(45deg) translateY(10%) translateX(10%) !important;
						}
						.hamRotate180.active {
							transform: rotate(180deg);
						}
						.line {
							fill:none;
							transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
							stroke:#e97024;
							stroke-width:11.5;
							stroke-linecap:round;
						}
						.ham4 {
							.top { 
								stroke-dasharray: 40 121;
								width: 84px;
								transform: scaleX(1.5) translateX(-9px);
							}
							.middle {
							
								transform: scaleX(1.25) translateX(4px );
							}
							.bottom{
								stroke-dasharray: 40 121;
								transform: scaleX(1) translateX(23px );
							}

							&.active {
								path {
								
									transform: none !important;
								}
								.top {
									stroke-dashoffset: -68px;

								}
								.bottom{

									stroke-dashoffset: -68px;
								}
							}
						}
						div {

							position: relative;
							text-align: center;
							margin: 0 auto;
							font-size:  @font-size-menu;
							display: block;
							color: rgb(0 0 0);
							width: 100%;
							font-family: 'Poppins'; 
							font-weight: 800;
							pointer-events: none;
						}
						
					}
				 
														/* navbar logo */
				
					.middle_logo a {
					
						padding: 6% 0;
						display: block;
					}
					 .middle_logo {
						position: relative;
						margin: 0 auto;
						padding: 0;
						display: table-cell;
						float: left;
						text-align: left;
						top: 0;
						left: 0;
						width: auto;
						
						img { 
							height: 80px;
							margin: 0 auto;
						}
					}
					
					.menu-icon {
						padding-right: 15px;
						padding-left: 15px;
						margin-right: auto;
						margin-left: auto;
						color: #fff !important;
						min-height: 37px;
						text-decoration: none;
						min-width: 5%;
						position: relative;
						display: table;
						font-family: @font1;
						float: right;
						z-index: 2;
						
						div{
							
							font-size: @font-size-menu;
							text-align: center;
						}
						
						.menu_table {
							height:80px;
							position: relative;
							display: table;
							font-size: @font-size-menu;
							width: 100%;
							text-align: center;
							
								.menu_table_cell {
									display: table-cell;
									vertical-align: middle;
									text-align: center;
									font-weight: 800;
									font-size: @font-size-menu;
									
									i {
										width: inherit;
										font-size: 1rem;
										color: #000; 
										width: inherit;
										vertical-align: middle;
										
										&:after{
											color: @color2;
										}
									}
									div {
										position: relative;
										text-align: center;
										margin: 0 auto;
										font-size: @font-size-menu;
										display: block;
										color: @color;
										width: 100%;
										font-weight: 800;
									}
								}
						}
					}
					
			}
		}
	}
	
	&.fixed{
		transition: all 0.8s ease 0s !important;
		position: fixed;
		opacity:1 !important;
		pointer-events: all !important;
	}
}


/* social left */
#section_social {
		position: fixed;
		top: 50%;
		left: 1%;
		z-index:3;
		background:black;
		border-radius:50%;
		height: 50px;
		width: 50px;
		svg{
		
			padding:20%;
			transition: all 2s ease;
			
			path {
				fill: #fff;
				transition: all .4s ease;
			}
		}
}

/*progress*/
#scrollProgress {
  position: fixed;
  background: linear-gradient(to left, @color2,@color,@color3,@color2,@color,@color3);
  background:none;
  top: 0;
  z-index:999;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border: none;
  transition: all 0.5s ease;
  background: transparent;
}
#scrollProgress::-webkit-progress-bar {
  background: transparent;
  transition: all 0.5s ease;
}
#scrollProgress::-webkit-progress-value {
  background: linear-gradient(to left, @color2,@color,@color3,@color2,@color,@color3);
  background-attachment: fixed;
  transition: all 0.5s ease;
}
#scrollProgress::-moz-progress-bar {
  background: linear-gradient(to left, @color2,@color,@color3,@color2,@color,@color3);
  background-attachment: fixed;
  transition: all 0.5s ease;
}
