@import "variables";
@import "buttons"; 
@import "scrollbar"; 
@import "nav";  
@import "menu";  
@import "header";
@import "footer";
@import "projects"; 
@import "../administration/css/normalizer"; 
@import "../administration/css/animate"; 
   
/* =========== */
 /* ******************************************************** @DESKTOP *********************************** */ 
 
 html { 
	overflow: hidden;
	*{
		box-sizing: border-box;
	}
	&.has-scroll-smooth 
	{ 
		overflow: hidden; 
		position: fixed;
		left: 0; 
		right: 0;
		top: 0; 
		bottom: 0;  
	}
	&.has-scroll-scrolling 
	{
		overflow: hidden;
		position: fixed;
		left: 0; 
		right: 0;
		top: 0;
		bottom: 0;  
		
	}
	[data-scroll-section]{
		background:white;
		
	}
	
	/* if mobile enable overflow for no smooth scroll */
	@media screen and (max-width: 1024px){
	
		height: 100vh;
		overflow: auto !important; 

	} 
	 
	body{
		width: 100%;
		position: relative;
		display: block;
		box-sizing: border-box; 
		padding: 0;
		margin: 0;
		font-size: 1rem; 
		max-width: 100%; 
		transition: all 1s;
		font-family: @font1;
		
		img, img.i-amphtml-fill-content.i-amphtml-replaced-content {
			max-width: 100%;
			height: auto;
			object-fit:cover;
		}
	
		@media screen and (max-width: 1024px){
			.h1{
				font-size: 100% !important;
			} 
		}
		#content {
			 
			min-height: calc(~'60vh - 260px'); 
			position: relative;
			z-index:1;
			transition: all 1s;
			 
			&.home{
			/* ------------------------------------------------------------------------------------------------------------------------Home--------------*/
				 
				
				
				section {
				
					transition: none !important;
					position: relative;
					display: block; 
					min-height:10vh;
					opacity:1 !important;
					padding: 100px 0;
				}
				 
				 
				
				#section_services {
				
					position:relative;
					width:100%; 
					background: white;
					
					
					.wrapper_services {
					
						position:relative;
						width:100%;
						max-width: 1280px;
						margin: 0 auto;
						display: table; 
						
						 
						.about-text-service{ 
						
							height: inherit;
							display: table-cell;
							vertical-align: middle;
							width:50%;
							transition: all .8s ease;
							
							@media screen and (max-width: 1024px){
								padding: 5%;
							}
							
						}
					
					}
				} 
				.row{
					margin: 2% 0;
				}
				//services
				@media screen and (max-width: 1024px){
					.grid_4 {
						margin: 5% 0% !important;
					}
				}
				.box-services{ 
			  
					height: 500px;
					background-size: cover;
					width: 400px;
					max-width:100%;
					display: table;
					align-items: center;
					position: relative;
					text-align: left; 
					justify-content: center;
					color: black;
					overflow: visible;
					font-weight: 700;
					font-family: @font2;
					flex-wrap: nowrap;
					align-content: center;
					border-bottom: 3px solid @color2;
					
					@media screen and (max-width: 1024px){
						width:100%;
					}
					.table{
					
					
					    z-index: 2;
						position: relative;
						height: 100%;  
						left: 0;
						display: table-cell;
						vertical-align: top;
						overflow: visible;
						right: 0;
						margin: 0 !important;
						transition: all .8s ease;
						
						.wrapper_icon{
							i::before{
							
								color: @color2;
							}
						}
						
						.text_services{
						
						    font-family: @font2;
							font-size: @fontsize;
						}
						img {
						    object-fit: cover !important;
							height: 350px;
							width: 100%;
						}
						.text_services {
							font-family: @font1;
							/* font-size: 19px; */
							text-align: left;
							font-weight: 800;
							color: #e97024;
							padding: 2% 0;
						}
						&:after{
						
							content: ""; 
							width: 100%;
							height: 100%;
							position:absolute;
							left:1%;
							z-index:-1;
							top:1%;
							@media screen and (max-width: 1024px){
								left:0%;
							}
						}
					}
					
					.learn_more {
					 		
						position: absolute;
						bottom: 0;
						left: 0;
						padding: 5px 30px;
						color: white;
						background: #e97024;
						transform: translateY(80%);
						transition: all 1.2s;
						
						@media screen and (max-width: 1024px){
							
							transform: translateY(0%);
						}
					}
					
					.zoomimg{
						position: relative;
						display: block;
						height: 350px;
						width:100%;
						left:0;
						top:0;
						transition: all 2s;
						overflow: hidden;
					}
					
					&:hover{
						transition: scale 2s;
						.table{
							overflow: hidden;
							img{
							
								transition: all 2s;
								transform: scale(1.2);
							}
						}
						
						.learn_more{
							transform: none;
						}
						
					}
				}
				
				
				#section_about {
				
					.wrapper_about {
						display: table;
						position: relative;
						width: 100%; 
						height: inherit; 
						box-sizing: border-box;
						
						.table-cell {
												
												
							display: table-cell;
							vertical-align: middle;
							width: 100%;
							height: inherit;
							
							
							.container-table {
							
								background: #d1d1d1;
								position: relative;
								width: 100%;
								display: inline-table;
								height: 80%;
								
								.left_part {
								
									box-sizing: border-box;
									transform-origin: left;
									display: table-cell;
									width: 40%;
									
									@media screen and (max-width: 1024px){
										display: block;
										width: 100%;
									}
									img{
									
										transform: scale(1.7);
										@media screen and (max-width: 1024px){ 
										transform: scale(1);
										}
										object-fit: contain;
										left: 0;
										transform-origin: left;
										position: relative;
										
										@media screen and (max-width: 1024px){
											transform: scale(1.2) translateX(-21%);
										}
									}
								}
								
								.right_part {
								 
									display: table-cell;
									width: 60%;
									vertical-align: middle;
									
									@media screen and (max-width: 1024px){
										display: block;
										width: 100%; 
										text-align: center;
									}
									.wrapper-text-content {
									
										position: relative;
										display: block;
										width: 800px;
										max-width: 80%;
										
										@media screen and (max-width: 1024px){ 
											width: 100%;
											max-width: 100%;
										}
										.wrap-h2{
											text-align:left;
											width: auto;
											display: table;
											margin: 0; 
											
											.orange-bar{
												width: 110%;
											}
											
											@media screen and (max-width: 1024px){
												
												display: table;
												margin: 0 auto;
												text-align: center;
												
													
												.orange-bar{
													width: 80%;
												}
											}
										}
										.suptitle{
											padding:2% 0;
											color: @color2;
											font-size:18px;
											font-weight: 400;
											display: block;
										}
										.submission_btn {
											padding: 10px 20px;
											background: #e97024;
											color: white !important;
											
											@media screen and (max-width: 1024px){
												
												display: table;
												color: white !important;
												margin: 5% auto; 
											}
										}
									}
									
								}
							}
						}
					}
				} 
				.slick-slide div.sliderow0,.slick-slide div.sliderow1,  {
					background: #2e2e2e;
					margin: 2%;
					overflow: hidden;
					height: 345px; 
					max-height: 100%;
					/* width: 608px; */
					box-sizing: border-box;
				}
				.sliderow0 { 
					transform: translateX(79px);
					
					@media screen and (max-width: 1024px) {
						transform: none !important;
					}
				}
				.sliderow1 {
					margin-top: 4% !important;
				}
				.slick-prev, .slick-next {
				   appearance: none !important;
					background: #e97024;
					color: white;
					padding: 31px 14px; 
					top: 44%;
					margin: 0 2%;
					position: absolute;
					z-index: 2;
					display: table;
					
					i {
						display: table-cell;
						vertical-align: middle;
						font-size: 2rem;
					}
				}
				.slick-next { 
					right:0; 
				}
				.slick-slide img {
				    display: block;
					height: 100%;
					width: 100%;
					@media screen and (max-width: 1024px){
						height: 400px;
						width: 500px;
						margin: 0 auto;
						object-fit: cover;
					}
				}
				//filter
				.filter_categs{
				
					display: table;
					max-width: 100%;
					width: 500px;
					margin: 0 auto;
					text-align: center;
					box-sizing: border-box; 
					margin-bottom: 150px;
					@media screen and (max-width: 1024px){
						display: block;
						width: 100%;
					}
					.categ {
					    display: table-cell;
						text-align: center; 
						color: #d1d1d1; 
						padding: 0 5%;
						box-sizing: border-box; 
						font-size: 2rem;
						font-weight: 800;
						cursor: pointer;
						text-align: center;
						@media screen and (max-width: 1024px){
							display: block;
							margin: 5% 0;
							width: 100%;
						}
					}
					
					.subCategRow {
						display: none;
						font-size: 1rem;
						width: 100%;
					}
					.categ.active, .categ:hover {
						color: #e97024; 
						
						.subCategRow {
							display: inline-flex;
							@media screen and (max-width: 1024px){
								display: block;
								width: 100%;
							}
							font-size: 1rem;
							width: inherit;
							left: 0; 
							width: 100%;
							float: left;
							position: absolute;
								
							@media screen and (max-width: 1024px){
								position: relative;
							}
							text-align: center;
							margin: 0 auto;
							flex-direction: row;
							flex-wrap: nowrap;
							align-content: center;
							justify-content: center; 
							align-items: center;
						} 
					}
					
					.subcateg {
						display: inline;
						padding: 2%;
						cursor: pointer;
						color: #d1d1d1;
						@media screen and (max-width: 1024px){
							display: block;
							width: 100%;
							margin: 5% 0;
						}
					}
					 
					.subcateg.active, .subcateg:hover {
						color: #e97024;
					}
					&:hover{
						.categ {
							.subCategRow {
								transition: display 2s 3s ease;
								display: none !important;
							}
						}
					}
					.categ:hover  ~ .categ {
						.subCategRow {
							transition: display 2s 3s ease;
							display: none !important;
						}
					}
					.categ:hover {
						color: #e97024; 
						
						.subCategRow {
							display: inline-flex !important; 
							
							@media screen and ( max-width: 1024px){
								display: block !important;
							}
						}
					}
				}
				#section_contact{
				
					padding: 50px !important;
					
					@media screen and (max-width: 1024px){
						
						padding: 50px 2% !important;
					}
					background: linear-gradient(180deg, #E97024 18.75%, #547C4A 86.46%);

					.wrapper_contact{
						background: white;
						padding:100px 4%;
						.form_contact{
							max-width:80%;
							width:800px;
							margin: 0 auto;
							
							
						}
						.topheadform {
						    margin-bottom: 5%;
						}
						
						.square {
							margin: 0 !important;
							
							.orange-bar{
								width: 100% !important;
							}
							h2{
								text-align: left;
							}
							.suptitle {
								padding: 2% 0;
								color: #e97024;
								font-size: 18px;
								font-weight: 400;
								display: block;
							}
						}
						
						label {
						
						position: relative;
						display: block;
						border: 1px solid #d1d1d1;
						border-radius: 50px;
						width: 100%;
						overflow: hidden;
						
						span {
						  color: @color2;
						  font: 13px Helvetica, Arial, sans-serif;
						  position: absolute;
						  top: 0px;
						  left: 20px;
						  opacity: 0;  
						  transition: all 0.2s ease-in-out;
						}
						input,textarea {
						  font: 18px Helvetica, Arial, sans-serif;
						  box-sizing: border-box;
						  display: block;
						  background:none;
						  border: none;
							padding: 18px 25px;
						  width: 300px; 
						  font-size: 18px;
						  outline: none;
						  transition: all 0.2s ease-in-out;
						  
						  &::placeholder {
							transition: all 0.2s ease-in-out;
							color: #d1d1d1;
							font: 18px Helvetica, Arial, sans-serif;
						  }
						  
						  &:focus, &.populated { 
							
							&::placeholder {
							  color: transparent;
							}
							
							
						  }
						  &:focus + span, &.populated + span {
								opacity: 1;
								top: 3px;
								left: 36px;
							}
						}
						textarea{
							padding:25px;
						}
					  }
					  .form-group.bmd-form-group.textarea_group label {
					  
						padding: 0 !important;
						width: 100% !important;
						margin: 0 !important;
					  }
					  input[type="submit"] {
						transition: all 0.2s ease-in-out;
						font: 18px Helvetica, Arial, sans-serif;
						border: none;
						background: @color2;
						display: block;
						color: #fff;
						padding: 7px 14px;
						
						@media screen and (max-width: 1024px){
							
							margin: 7% auto;
							
							padding: 7px 14px;
						}
						&:hover {
						  background: #000;
						}
					  }
					  
					  
					}
					
					.form-group.bmd-form-group {
						margin: 2% 0;
					}
				}
			}
			&.contact{
			/* ------------------------------------------------------------------------------------------------------------------------Contact--------------*/
				.socialpart{
		
					ul {
					
								
						list-style: none;
						display: table;
						margin: 0 auto; 	
						margin: 0 !important;
						padding: 0;
						li{
						
										
							display: table-cell;
							padding: 10px;
							
							i {
								font-size: 1.5rem;
								color: @color2;
							}
						}
					}
				}
				.info_hours .row {
					border-bottom: 1px solid black;
					width: 57%;
					text-align: left;
					
					@media screen and (max-width: 1024px){
						width: 100%;
						display: table;
					}
				} 
				.info_phone, .info_hours{
				
					.row {
					
						
						line-height: 3;
						display: table;
						@media screen and (max-width: 1024px){
							width: 100%;
							display: table;
						}
						.table-cell{
						
							display: table-cell;
							vertical-align: middle;
							width: auto;
							text-align: left;
							
							@media screen and (max-width: 1024px){
								width: 50%; 
							}
							&:nth-of-type(2n){
								padding-left: 16px;
								width: inherit;
									
								@media screen and (max-width: 1024px){
									width: 50%; 
									text-align: right !important;
								}
							}
							span {
								text-align: left;
							}
						}
					}
				}
				#section_contact{
				
					padding: 50px !important;
					
					@media screen and (max-width: 1024px){
						
						padding: 50px 2% !important;
					}
					background: linear-gradient(180deg, #E97024 18.75%, #547C4A 86.46%);

					.wrapper_contact{
						background: white;
						padding:100px 4%;
						.form_contact{
							max-width:80%;
							width:800px;
							margin: 0 auto;
							
							
						}
						.topheadform {
						    margin-bottom: 5%;
						}
						
						.square {
							margin: 0 !important;
							
							.orange-bar{
								width: 100% !important;
							}
							h2{
								text-align: left;
							}
							.suptitle {
								padding: 2% 0;
								color: #e97024;
								font-size: 18px;
								font-weight: 400;
								display: block;
							}
						}
						
						label {
						
						position: relative;
						display: block;
						border: 1px solid #d1d1d1;
						border-radius: 50px;
						width: 100%;
						overflow: hidden;
						
						span {
						  color: @color2;
						  font: 13px Helvetica, Arial, sans-serif;
						  position: absolute;
						  top: 0px;
						  left: 20px;
						  opacity: 0;  
						  transition: all 0.2s ease-in-out;
						}
						input,textarea {
						  font: 18px Helvetica, Arial, sans-serif;
						  box-sizing: border-box;
						  display: block;
						  background:none;
						  border: none;
							padding: 18px 25px;
						  width: 300px; 
						  font-size: 18px;
						  outline: none;
						  transition: all 0.2s ease-in-out;
						  
						  &::placeholder {
							transition: all 0.2s ease-in-out;
							color: #d1d1d1;
							font: 18px Helvetica, Arial, sans-serif;
						  }
						  
						  &:focus, &.populated { 
							
							&::placeholder {
							  color: transparent;
							}
							
							
						  }
						  &:focus + span, &.populated + span {
								opacity: 1;
								top: 3px;
								left: 36px;
							}
						}
						textarea{
							padding:25px;
						}
					  }
					  .form-group.bmd-form-group.textarea_group label {
					  
						padding: 0 !important;
						width: 100% !important;
						margin: 0 !important;
					  }
					  input[type="submit"] {
						transition: all 0.2s ease-in-out;
						font: 18px Helvetica, Arial, sans-serif;
						border: none;
						background: @color2;
						display: block;
						color: #fff;
						padding: 7px 14px;
						
						@media screen and (max-width: 1024px){
							
							margin: 7% auto;
							
							padding: 7px 14px;
						}
						&:hover {
						  background: #000;
						}
					  }
					  
					  
					}
					
					.form-group.bmd-form-group {
						margin: 2% 0;
					}
				}
				.table-custom {
				
					width: 1400px; 
					position: relative;
					display: table;
					height: inherit;
					padding: 100px 50px;
					max-width: 100%;
					margin: 0 auto !important;
					
					box-sizing: border-box;
					@media screen and (max-width: 1024px){
					 
						display: block !important;
						padding: 0 !important;
						width: 100% !important; 
					}
					
					.table-cell-custom {
										
						
						box-sizing: border-box;					
						display: table-cell !important;
						height: inherit !important;
						vertical-align: middle;
						float: unset !important;
						
						@media screen and (max-width: 1024px){
					 
							margin:0 !important;
							display: block !important; 
							padding: 5%;
						}
						
						.div_wrap_about{
												
							border-radius: 50%;
							overflow: hidden;
							display: table;
							margin: 0 auto;
							height: 500px;
							width: 500px;
							
							@media screen and (max-width: 1024px){
								position: relative;
								display: block !important;
								width: 330px !important;
								height: 330px !important;
							}
							img {
							    max-width: 100%;
								height: 500px;
								object-fit: cover; 
								min-width: 100%;
							}
						}
					}
				}
				
				.square {
					margin: 0 !important;
					
					.orange-bar{
						width: 120% !important;
						
						@media screen and (max-width: 1024px){
							max-width: 80%;
						
						}
					}
				}
				
				.wrapper_contact{
					width: 1400px;
					max-width: 100%;
					margin: 0 auto;
				}
			}
			&.about{  
			/* ------------------------------------------------------------------------------------------------------------------------About--------------*/
				.table-custom {
				
					width: 1400px; 
					position: relative;
					display: table;
					height: inherit;
					padding: 100px 50px;
					max-width: 100%;
					margin: 0 auto !important;
					
					box-sizing: border-box;
					@media screen and (max-width: 1024px){
					 
						display: block !important;
						padding: 0 !important;
						width: 100% !important; 
					}
					
					.table-cell-custom {
										
						
						box-sizing: border-box;					
						display: table-cell !important;
						height: inherit !important;
						vertical-align: middle;
						float: unset !important;
						
						@media screen and (max-width: 1024px){
					 
							margin:0 !important;
							display: block !important; 
							padding: 5%;
						}
						
						.div_wrap_about{
												
							border-radius: 50%;
							overflow: hidden;
							display: table;
							margin: 0 auto;
							height: 500px;
							width: 500px;
							
							@media screen and (max-width: 1024px){
								position: relative;
								display: block !important;
								width: 330px !important;
								height: 330px !important;
							}
							img {
							    max-width: 100%;
								height: 500px;
								object-fit: cover; 
								min-width: 100%;
							}
						}
					}
				}
				
				.square {
					margin: 0 !important;
					
					.orange-bar{
						width: 120% !important;
						@media screen and (max-width: 1024px){
							max-width: 80%;
						
						}
					}
				}
			}
			&.services{ 
			/* ------------------------------------------------------------------------------------------------------------------------Services--------------*/
			 
				.rectangle_filter{
				
				    display: table;
					background: @color2;
					margin: 0 auto;
					transform: translateY(-50%);
					padding: 1% 0;
					border: 2px solid #fff;
					width: 1200px;
					max-width: 80%;
					
					.wrapper_rectangle{
					
						display: inline-table;
						width: 100%;
						
						
						.filters_rectangle{
							
							display: table-cell;
							
							
							img {
								height: 50px !important;
							}
							.table {
							
								display: table;
								text-align: center;
								margin: 0 auto;
								width: 70%;
								
								.table-cell{
								
									display: table-cell;
									vertical-align: middle;
									color: white;
									padding: 0 1%; 
									width: auto;
								}
							}
						}
					}
					
					
				}
				h4 {
								
					padding: 2% !important;
					font-size: 3rem;
				}
				.orange-bar{
					width: 100% !important;
				}
				.wrapper_content{
						width: 1400px;
						max-width: 100%;
						margin: 0 auto;
					}
					
					.timeline {
					
					
						.suptitle{
							
							text-align: center;
						}
						
						.wrapper_events {
							width: 440px;
							margin: 0 auto;
							max-width: 100%;
							
							
							span.number {
								color: #e97024;
								width: 30px;
								transform: translateX(-8px);
								position: relative;
								display: inline-table;
							}
							
							.wrapper_text {
								padding-left: 35px;
								border-left: 2px solid #e97024;
							}
						}
					}
					
					.table-custom {
				
					width: 1400px; 
					position: relative;
					display: table;
					height: inherit;
					padding: 100px 50px;
					max-width: 100%;
					margin: 0 auto !important;
					
					box-sizing: border-box;
					@media screen and (max-width: 1024px){
					 
						display: block !important;
						padding: 0 !important;
						width: 100% !important; 
					}
					
					.table-cell-custom {
										
							
						box-sizing: border-box;				
						display: table-cell !important;
						height: inherit !important;
						vertical-align: middle;
						float: unset !important;
						
						@media screen and (max-width: 1024px){
					 
							margin:0 !important;
							display: block !important; 
							padding: 5%;
						}
						
						.div_wrap_about{
												
							border-radius: 50%;
							overflow: hidden;
							display: table;
							margin: 0 auto;
							height: 500px;
							width: 500px;
							
							@media screen and (max-width: 1024px){
								position: relative;
								display: block !important;
								width: 330px !important;
								height: 330px !important;
							}
							img {
							    max-width: 100%;
								height: 500px;
								object-fit: cover; 
								min-width: 100%;
							}
						}
					}
				}
				
				.square {
					margin: 0 !important;
					
					.orange-bar{
						width: 120% !important;
						@media screen and (max-width: 1024px){
							max-width: 80%;
						
						}
						
					}
				}
			}
			&.single_service {
			/* ------------------------ ------------------------------------------------------------------------------------------------Single service--------------*/
				
				
				
				.table-custom {
					
					box-sizing: border-box;
					width: 1400px; 
					position: relative;
					display: table;
					height: inherit;
					padding: 100px 50px;
					max-width: 100%;
					margin: 0 auto !important;
					
					@media screen and (max-width: 1024px){
					 
						display: block !important;
						padding: 0 !important;
						width: 100% !important; 
					}
					
					.table-cell-custom {
														
						box-sizing: border-box;	
						display: table-cell !important;
						height: inherit !important;
						vertical-align: middle; 
						float: unset !important;
						
						@media screen and (max-width: 1024px){
					 
							margin:0 !important;
							display: block !important; 
							padding: 5%;
						}
						
						.div_wrap_about{
												
							border-radius: 50%;
							overflow: hidden;
							display: table;
							margin: 0 auto;
							height: 500px;
							width: 500px;
							
							@media screen and (max-width: 1024px){
								position: relative;
								display: block !important;
								width: 330px !important;
								height: 330px !important;
							}
							img {
							    max-width: 100%;
								height: 500px;
								object-fit: cover; 
								min-width: 100%;
							}
						}
					}
				}
				
				.square {
					margin: 0 !important;
					
					.orange-bar{
						width: 120% !important;
						@media screen and (max-width: 1024px){
							max-width: 80%;
						
						}
					}
				}
			}
			&.projects{
			/* ------------------------------------------------------------------------------------------------------------------------Projects--------------*/
			
			}
			&.single_project{
			/* ------------------------------------------------------------------------------------------------------------------------Single project--------------*/
			
			
			}
			&.thankyou{
			/* ------------------------------------------------------------------------------------------------------------------------Thank you--------------*/
			
			}
			&.realisations{
			/* ------------------------------------------------------------------------------------------------------------------------Realisations--------------*/
				.realisations_wrapper{
					width: 1400px;
					max-width: 80%;
					margin: 0 auto;
					padding: 4%;
				}
				
				//filter
				.filter_categs{
				
					display: table;
					max-width: 100%;
					width: 500px;
					margin: 0 auto;
					text-align: center;
					box-sizing: border-box; 
					margin-bottom: 150px;
					@media screen and (max-width: 1024px){
						display: block;
						width: 100%;
					}
					.categ {
					    display: table-cell;
						text-align: center; 
						color: #d1d1d1; 
						padding: 0 5%;
						box-sizing: border-box; 
						font-size: 2rem;
						font-weight: 800;
						cursor: pointer;
						text-align: center;
						@media screen and (max-width: 1024px){
							display: block;
							margin: 5% 0;
							width: 100%;
						}
					}
					
					.subCategRow {
						display: none;
						font-size: 1rem;
						width: 100%;
					}
					.categ.active, .categ:hover {
						color: #e97024; 
						
						.subCategRow {
							display: inline-flex;
							@media screen and (max-width: 1024px){
								display: block;
								width: 100%;
							}
							font-size: 1rem;
							width: inherit;
							left: 0; 
							width: 100%;
							float: left;
							position: absolute;
								
							@media screen and (max-width: 1024px){
								position: relative;
							}
							text-align: center;
							margin: 0 auto;
							flex-direction: row;
							flex-wrap: nowrap;
							align-content: center;
							justify-content: center; 
							align-items: center;
						} 
					}
					
					.subcateg {
						display: inline;
						padding: 2%;
						cursor: pointer;
						color: #d1d1d1;
						@media screen and (max-width: 1024px){
							display: block;
							width: 100%;
							margin: 5% 0;
						}
					}
					 
					.subcateg.active, .subcateg:hover {
						color: #e97024;
					}
					&:hover{
						.categ {
							.subCategRow {
								transition: display 2s 3s ease;
								display: none !important;
							}
						}
					}
					.categ:hover  ~ .categ {
						.subCategRow {
							transition: display 2s 3s ease;
							display: none !important;
						}
					}
					.categ:hover {
						color: #e97024; 
						
						.subCategRow {
							display: inline-flex !important; 
						}
					}
				}
				
				.filter_categs{
					margin: 100px auto !important;
				}
				#section_realisation{
				
					.row{
					
						display: table;
						width: 110%;
						left: -5%;
						
						@media screen and (max-width: 1024px){
						
							display: block;
							width: 100%;
							left:0;
						}
						
						&:nth-of-type(2n){
						
							width: 112%;
							left: -2%;
							
							@media screen and (max-width: 1024px){
							
								display: block;
								width: 100%;
								left:0;
							}
						}
						position: relative;
						
						.a_realisation {
							display: table-cell;
							vertical-align: middle;
							width: 33.3%;
							padding: 1%;
							
							@media screen and (max-width: 1024px){
							
								display: block;
								width: 100%;
								left:0;
							}
							img.prev_drawings {
								height: 345px;
								background: #2e2e2e;
								width: 100%;
							}
						}
					}
				}
				
			}&.calculator{
			/* ------------------------------------------------------------------------------------------------------------------------Realisations--------------*/
				.calculator_wrapper{
					width: 1400px;
					max-width: 80%;
					margin: 0 auto;
					padding: 4%;
					
					@media screen and (max-width: 1024px){
					
						max-width: 100%;
					}
				}
				
				 
				#section_calculator{
				 
				 
				 
					.container {
						padding: 10rem;
						width: 75%;
						max-width: 700px;
						margin: auto;
					}

					.list-unstyled {
						padding-left: 0;
						list-style: none;
					} 
  
				  .tabs__content {
					  border-width: 0;
					  border-top-width: 1px;
				  }

				  .tabs__list { 
					  margin: 0;
					  margin-bottom: -1px;
					  display: inline-block;
					  width: 100%; 
					  .tabs__item--active {
						  height: auto;
						  position: relative;
					  }
				  }

				  .tabs__list--open {
					  .tabs__item {
						  position: relative;
						  height: auto;
					  }
					  .tabs__item--active > .tabs__link:after {
						  content: none;
					  }
				  }

				  .tabs__item {
					  width: 100%;
					  max-width: 100%;
					  border-right: 0;
					  text-align: left;
				  }

				  .tabs__item--active {
					  > .tabs__link {
							text-decoration: none;
							font-weight: 800;
						  background-color: #333333;
						  color: @color2 !important;
						  border: 0;
						  &:hover {
							  color: white;
						  } 
					  }
				  } 

					/* Tab mixin
					/* ---------------*/

					.tabs {}
 
					.tabs__list {
						margin: 0;
						margin-bottom: -1px;
					}

					.tabs__item {
						margin-bottom: 0;
						display: inline-block;
						width: auto;
						vertical-align: top;
					}

					.tabs__item--active {
						> .tabs__link {
							font-weight: 800;
							border: 1px solid #d4d4d4;
							background: #e5e5e5;
							border-bottom: 0;
							position: relative;
							z-index: 3;
							color: #333333;
							&:hover {
								color: darken(#333333, 5%);
							}
						}
					}

					.tabs__link { 
						color: #333333;
						padding: .5em 1em;
						font-weight: 800;
						line-height: 2;
						display: block;
						text-decoration: none;
						&:hover {
						  text-decoration: none;
						}
					}

					.tabs__area {
						opacity: 0.5;
						visibility: hidden;
						transition: opacity .5s linear;
						height: 0;
					}

					.tabs__area--active {
						opacity: 1;
						visibility: visible;
						transition: opacity .5s linear;
						display: table;
						height: inherit;
						width: 100%;
					}

					.tabs__content {
						margin-bottom: 0;
						background: #e5e5e5;
						overflow: hidden;
						position: relative;
						clear: both;
						padding: 22px;
						padding: 2.2rem;
					}
				 
				}
				
				path#Fill-84 {
					fill: #e97024;
					transform: rotate(90deg) translateY(-98%);
				}
				#section_calculator {
					padding: 100px 0;
				}
				.wrapper_calculator_section{
				
								
					max-width: 1200px;
					margin: 0 auto;
					
					.left_part {
						float: left;
						width: 60%;
						background: #d1d1d1;
						
						@media screen and (max-width: 1024px){
							float: unset !important;
							width: 100% !important;
							display: block;
							max-width: 100%;
						}
						.left_part_tabs {
							display: table-cell;
							vertical-align: middle;
							width: 50%;
							
							@media screen and (max-width: 1024px){
								float: unset !important;
								width: 100% !important;
								display: block;
								max-width: 100%;
							}
							.row {
								width: 100%;
								margin: 7% 0;
								display: block;
								
								.fullwidth {
									display: table;
									width: 100%;
									.table-cell {
												
												
										display: table-cell;
										width: 50%;
										vertical-align: middle;
										
										&:nth-of-type(2n){
										
											span {
												padding-left: 15px;
											}
										}
									}
								}
								input {
									padding: 10px 15px;
									color: black;
								}
							}
							span {
								font-weight: 500;
								color: #888;
								line-height: 2;
								font-size: 1.2rem;
							}
						}
						
						.right_part_tabs {
							display: table-cell;
							width: 50%;
							vertical-align: middle;
							
							@media screen and (max-width: 1024px){
								float: unset !important;
								width: 100% !important;
								display: block;
								max-width: 100%;
							}
							
							.img_type { 
								background: #d1d1d1;
								height: 200px;
								width: 300px;
								margin: 0 auto;
								position: relative;
								display: block;
								box-sizing: border-box; 
								svg{
								
									box-sizing: border-box;
									display: block;
									height: 100%;
									width: 100%;
									left: 0;
									position: absolute;
									top: 0;
									
									path {
										
										fill: @color2;
									}
								}
							}
							
							.bottom_part{

								.table {
											 					
									width: 100%;
									display: table;
									
									.table-cell{
															
										display: table-cell;
										vertical-align: middle;
										padding: 4%;
										text-align: center;
										
										a.submisson_btn {
											font-size: 66%;
											color: #e97024;
											font-weight: 800;
											
											.table-i{
												display: table; 
												margin: 0 auto;
												text-align: center;
												
												i{
													font-size: 2rem;
													color: white;
													border-radius: 50%;
													background: #e97024;
													width: 50px;
													height: 50px;
													margin: 0 auto;
													display: table-cell !important;
													vertical-align: middle;
												}
											}
										}
									}
								}
							}
						}
					}
					.right_part {
						width: 40%;
						float: right;
						height: 450px;
						
						@media screen and (max-width: 1024px){
							float: unset !important;
							width: 100% !important;
							display: block;
							max-width: 100%;
						}
						.results {
							margin: 0 3%;
							background: linear-gradient(180deg, #E97024 11.98%, #547C4A 84.9%);
							width: 65%;
							margin: 0 auto;
							padding: 4%;
							display: table;
							height: 404px;
							@media screen and (max-width: 1024px){ 
								width: 100% !important; 
							}
							.wrapper_results { 
								position: relative;
								background: white; 
								text-align: center;
								display: table-cell; 
								vertical-align: middle;
								
								.bgwhite {
									background: white;
									height: 100%;
									position: relative;
									
									.title {
										position: relative;
										padding: 5%;
										font-size: 2rem;
										text-transform: uppercase;
										color: #888888;
										font-weight: 800;
										height: 30%;
									}
									
									.needed_volume, .total_volume {
										height: 30%;
										
										.table {
											display: table;
											width: 100%;
											
											.table-cell {
											
												padding: 3% 0;
												
												&:nth-of-type(2n) {
													color: #e97024;
													font-weight: 800;
												}
												span {
													font-weight: 800;
												}
											}
										}
									}
								}
							}
						}
					}
				}
				.left_options{
				
					.wrapper_options {
						padding: 50px 0;
						width: 60%;
						@media screen and (max-width: 1024px){
							width: 100%;
							padding: 2%;
							display: table-cell;
							vertical-align: middle;
						}
						
						.row_option {
							padding: 10px 0;
							border-bottom: 1px solid #d1d1d1;
							display: table;
							width: 100%;
							
							@media screen and (max-width: 1024px){
								padding: 10px 0;
								border-bottom: 1px solid #d1d1d1;
								display: table;
								height: 100%;
								width: 100%;
							}
							.heighty {
														
								display: table-cell;
								width: 90%;
								vertical-align: middle;
								span.option {
									color: #888;
									font-weight: 600;
								}
							}
							.twenty {
														
								display: table-cell;
								vertical-align: middle;
								
								a.remove {
									color: #e97024;
									font-size: 1.5rem;
								}
							}
						}
						
					}
				}
				
			}
			&.single_realisation{
			/* ------------------------------------------------------------------------------------------------------------------------Single realisation--------------*/
			
			
			}
			&.shop{
			/* ------------------------------------------------------------------------------------------------------------------------Shop--------------*/
			
			}
			&.single_product{
			/* ------------------------------------------------------------------------------------------------------------------------Single product--------------*/
			
			
			}
			&.blog{
			/* ------------------------------------------------------------------------------------------------------------------------Blog--------------*/
			
			}
			&.single_blog{
			/* ------------------------------------------------------------------------------------------------------------------------Single blog--------------*/
			
			
			}
			&.users{
			/* ------------------------------------------------------------------------------------------------------------------------Users--------------*/
			
			}
			&.single_user{
			/* ------------------------------------------------------------------------------------------------------------------------Single user--------------*/
			
			
			}
			&.submission{
			/* ------------------------------------------------------------------------------------------------------------------------Submission--------------*/
			
			
			}
			&.calendar{
				/* ------------------------------------------------------------------------------------------------------------------------Calendar--------------*/
			
			}
			&.maintenance{
				/* ------------------------------------------------------------------------------------------------------------------------Maintenance--------------*/
			
			}
			&.error{ 
				/* ------------------------------------------------------------------------------------------------------------------------Error--------------*/
				padding: 5%;
			}
			&.faq{
				/* ------------------------------------------------------------------------------------------------------------------------FAQ--------------*/
			
			}
			&.sitemap{
				/* ------------------------------------------------------------------------------------------------------------------------sitemap--------------*/
				padding: 5%;
			}
			&.page{
				/* ------------------------------------------------------------------------------------------------------------------------page--------------*/
			
			}
			&.politiques_terms{
				/* ------------------------------------------------------------------------------------------------------------------------politiques_terms--------------*/
				padding: 5%;
			}
			&.subscription{
				/* ------------------------------------------------------------------------------------------------------------------------subscription--------------*/
			
			}
			&.cart{
				/* ------------------------------------------------------------------------------------------------------------------------cart--------------*/
			
			}
			&.checkout{
				/* ------------------------------------------------------------------------------------------------------------------------checkout--------------*/
			
			}
			&.collections{
				/* ------------------------------------------------------------------------------------------------------------------------collections--------------*/
			
			}
			&.single_collection{
				/* ------------------------------------------------------------------------------------------------------------------------single_collection--------------*/
			
			}
			&.payment_failed{
				/* ------------------------------------------------------------------------------------------------------------------------payment_failed--------------*/
			
			}
			&.payment_thankyou{
				/* ------------------------------------------------------------------------------------------------------------------------payment_thankyou--------------*/
			
			}
			&.pay_orders{
				/* ------------------------------------------------------------------------------------------------------------------------pay_orders--------------*/
			
			}
			&.promotions{
				/* ------------------------------------------------------------------------------------------------------------------------promotions--------------*/
			
			}
			&.single_promotion{
				/* ------------------------------------------------------------------------------------------------------------------------single_promotion--------------*/
			
			}
			&.activation{
				/* ------------------------------------------------------------------------------------------------------------------------activation--------------*/
			
			}
			&.login{
				/* ------------------------------------------------------------------------------------------------------------------------login--------------*/
			
			}
			&.recovery{
				/* ------------------------------------------------------------------------------------------------------------------------recovery--------------*/
			
			} 
			&.contests{
				/* ------------------------------------------------------------------------------------------------------------------------contests--------------*/
			
			}
			&.single_contest{
				/* ------------------------------------------------------------------------------------------------------------------------single_contest--------------*/
			
			} 
			
				
				/*&:after{
				    content: " "; 
					transform: translateY(100%) rotate(180deg); 
					background-size: cover;
					background-position: bottom;
					position: absolute;
					left: 0;
					bottom: 1px;
					transition: none !important;
					height: 106px;
					width: 100%;
				}*/
		
		}
	
	}
 
 }
 
 
 
 /* ******************************************************** @LAPTOP *********************************** */
 
 @media screen and (max-width: 1700px){
	 html {
	  
		body{
			
			
			#content {
				
			
				&.home{
				/* ------------------------------------------------------------------------------------------------------------------------Home--------------*/
				
				
				}
				&.contact{
				/* ------------------------------------------------------------------------------------------------------------------------Contact--------------*/
				
				
				}
				&.about{ 
				/* ------------------------------------------------------------------------------------------------------------------------About--------------*/
				
				}
				&.services{
				/* ------------------------------------------------------------------------------------------------------------------------Services--------------*/
				
				
				}
				&.single_service {
				/* ------------------------------------------------------------------------------------------------------------------------Single service--------------*/
				
				}
				&.projects{
				/* ------------------------------------------------------------------------------------------------------------------------Projects--------------*/
				
				}
				&.single_project{
				/* ------------------------------------------------------------------------------------------------------------------------Single project--------------*/
				
				
				}
				&.thankyou{
				/* ------------------------------------------------------------------------------------------------------------------------Thank you--------------*/
				
				}
				&.realisations{
				/* ------------------------------------------------------------------------------------------------------------------------Realisations--------------*/
				
				}
				&.single_realisation{
				/* ------------------------------------------------------------------------------------------------------------------------Single realisation--------------*/
				
				
				}
				&.shop{
				/* ------------------------------------------------------------------------------------------------------------------------Shop--------------*/
				
				}
				&.single_product{
				/* ------------------------------------------------------------------------------------------------------------------------Single product--------------*/
				
				
				}
				&.blog{
				/* ------------------------------------------------------------------------------------------------------------------------Blog--------------*/
				
				}
				&.single_blog{
				/* ------------------------------------------------------------------------------------------------------------------------Single blog--------------*/
				
				
				}
				&.users{
				/* ------------------------------------------------------------------------------------------------------------------------Users--------------*/
				
				}
				&.single_user{
				/* ------------------------------------------------------------------------------------------------------------------------Single user--------------*/
				
				
				}
				&.submission{
				/* ------------------------------------------------------------------------------------------------------------------------Submission--------------*/
				
				
				}
				&.calendar{
					/* ------------------------------------------------------------------------------------------------------------------------Calendar--------------*/
				
				}
				&.maintenance{
					/* ------------------------------------------------------------------------------------------------------------------------Maintenance--------------*/
				
				}
				&.error{
					/* ------------------------------------------------------------------------------------------------------------------------Error--------------*/
				
				} 
				&.faq{
					/* ------------------------------------------------------------------------------------------------------------------------FAQ--------------*/
				
				}
				&.sitemap{
					/* ------------------------------------------------------------------------------------------------------------------------sitemap--------------*/
				
				}
				&.page{
					/* ------------------------------------------------------------------------------------------------------------------------page--------------*/
				
				}
				&.politiques_terms{
					/* ------------------------------------------------------------------------------------------------------------------------politiques_terms--------------*/
				
				}
				&.subscription{
					/* ------------------------------------------------------------------------------------------------------------------------subscription--------------*/
				
				}
				&.cart{
					/* ------------------------------------------------------------------------------------------------------------------------cart--------------*/
				
				}
				&.checkout{
					/* ------------------------------------------------------------------------------------------------------------------------checkout--------------*/
				
				}
				&.collections{
					/* ------------------------------------------------------------------------------------------------------------------------collections--------------*/
				
				}
				&.single_collection{
					/* ------------------------------------------------------------------------------------------------------------------------single_collection--------------*/
				
				}
				&.payment_failed{
					/* ------------------------------------------------------------------------------------------------------------------------payment_failed--------------*/
				
				}
				&.payment_thankyou{
					/* ------------------------------------------------------------------------------------------------------------------------payment_thankyou--------------*/
				
				}
				&.pay_orders{
					/* ------------------------------------------------------------------------------------------------------------------------pay_orders--------------*/
				
				}
				&.promotions{
					/* ------------------------------------------------------------------------------------------------------------------------promotions--------------*/
				
				}
				&.single_promotion{
					/* ------------------------------------------------------------------------------------------------------------------------single_promotion--------------*/
				
				}
				&.activation{
					/* ------------------------------------------------------------------------------------------------------------------------activation--------------*/
				
				}
				&.login{
					/* ------------------------------------------------------------------------------------------------------------------------login--------------*/
				
				}
				&.recovery{
					/* ------------------------------------------------------------------------------------------------------------------------recovery--------------*/
				
				} 
				&.contests{
					/* ------------------------------------------------------------------------------------------------------------------------contests--------------*/
				
				}
				&.single_contest{
					/* ------------------------------------------------------------------------------------------------------------------------single_contest--------------*/
				
				} 
			}
		
		}
	 
	 }
}
 
 
 
 /* ******************************************************** @TABLET *********************************** */
 
 @media screen and (max-width: 1400px){
	 html {
	 
		body{
			
			
			#content {
				
			
				&.home{
				/* ------------------------------------------------------------------------------------------------------------------------Home--------------*/
				
				
				}
				&.contact{
				/* ------------------------------------------------------------------------------------------------------------------------Contact--------------*/
				
				
				}
				&.about{ 
				/* ------------------------------------------------------------------------------------------------------------------------About--------------*/
				
				}
				&.services{
				/* ------------------------------------------------------------------------------------------------------------------------Services--------------*/
				
				
				}
				&.single_service {
				/* ------------------------------------------------------------------------------------------------------------------------Single service--------------*/
				
				}
				&.projects{
				/* ------------------------------------------------------------------------------------------------------------------------Projects--------------*/
				
				}
				&.single_project{
				/* ------------------------------------------------------------------------------------------------------------------------Single project--------------*/
				
				
				}
				&.thankyou{
				/* ------------------------------------------------------------------------------------------------------------------------Thank you--------------*/
				
				}
				&.realisations{
				/* ------------------------------------------------------------------------------------------------------------------------Realisations--------------*/
				
				}
				&.single_realisation{
				/* ------------------------------------------------------------------------------------------------------------------------Single realisation--------------*/
				
				
				}
				&.shop{
				/* ------------------------------------------------------------------------------------------------------------------------Shop--------------*/
				
				}
				&.single_product{
				/* ------------------------------------------------------------------------------------------------------------------------Single product--------------*/
				
				
				}
				&.blog{
				/* ------------------------------------------------------------------------------------------------------------------------Blog--------------*/
				
				}
				&.single_blog{
				/* ------------------------------------------------------------------------------------------------------------------------Single blog--------------*/
				
				
				}
				&.users{
				/* ------------------------------------------------------------------------------------------------------------------------Users--------------*/
				
				}
				&.single_user{
				/* ------------------------------------------------------------------------------------------------------------------------Single user--------------*/
				
				
				}
				&.submission{
				/* ------------------------------------------------------------------------------------------------------------------------Submission--------------*/
				
				
				}
				&.calendar{
					/* ------------------------------------------------------------------------------------------------------------------------Calendar--------------*/
				
				}
				&.maintenance{
					/* ------------------------------------------------------------------------------------------------------------------------Maintenance--------------*/
				
				}
				&.error{
					/* ------------------------------------------------------------------------------------------------------------------------Error--------------*/
				
				}
				
				&.faq{
					/* ------------------------------------------------------------------------------------------------------------------------FAQ--------------*/
				
				}
				&.sitemap{
					/* ------------------------------------------------------------------------------------------------------------------------sitemap--------------*/
				
				}
				&.page{
					/* ------------------------------------------------------------------------------------------------------------------------page--------------*/
				
				}
				&.politiques_terms{
					/* ------------------------------------------------------------------------------------------------------------------------politiques_terms--------------*/
				
				}
				&.subscription{
					/* ------------------------------------------------------------------------------------------------------------------------subscription--------------*/
				
				}
				&.cart{
					/* ------------------------------------------------------------------------------------------------------------------------cart--------------*/
				
				}
				&.checkout{
					/* ------------------------------------------------------------------------------------------------------------------------checkout--------------*/
				
				}
				&.collections{
					/* ------------------------------------------------------------------------------------------------------------------------collections--------------*/
				
				}
				&.single_collection{
					/* ------------------------------------------------------------------------------------------------------------------------single_collection--------------*/
				
				}
				&.payment_failed{
					/* ------------------------------------------------------------------------------------------------------------------------payment_failed--------------*/
				
				}
				&.payment_thankyou{
					/* ------------------------------------------------------------------------------------------------------------------------payment_thankyou--------------*/
				
				}
				&.pay_orders{
					/* ------------------------------------------------------------------------------------------------------------------------pay_orders--------------*/
				
				}
				&.promotions{
					/* ------------------------------------------------------------------------------------------------------------------------promotions--------------*/
				
				}
				&.single_promotion{
					/* ------------------------------------------------------------------------------------------------------------------------single_promotion--------------*/
				
				}
				&.activation{
					/* ------------------------------------------------------------------------------------------------------------------------activation--------------*/
				
				}
				&.login{
					/* ------------------------------------------------------------------------------------------------------------------------login--------------*/
				
				}
				&.recovery{
					/* ------------------------------------------------------------------------------------------------------------------------recovery--------------*/
				
				} 
				&.contests{
					/* ------------------------------------------------------------------------------------------------------------------------contests--------------*/
				
				}
				&.single_contest{
					/* ------------------------------------------------------------------------------------------------------------------------single_contest--------------*/
				
				} 
			
			}
		
		}
	 
	 }
}
 
 
 
 /* ******************************************************** @MOBILE *********************************** */
 
 @media screen and (max-width: 1024px){
	 html {
	 
		body{
			
			
			#content {
				
			
				&.home{
				/* ------------------------------------------------------------------------------------------------------------------------Home--------------*/
					#section_intro{ 
						display: flex;
						flex-direction: column-reverse;
						
						.logo-powered{
						
							width: 100%;
							
							#Layer_1{
								max-width: 100%; 
							}
						}
						
						.h1-home{
						
							width: 100%; 
							 
							h1{
							
								font-size: @HugefontsizeMobile;
							} 
						}
					}
					#section_about{  
						padding:0;
						.about-img, .about-text {
						
							display: block !important;
							width:100% !important;
						}
					}
				
				}
				&.contact{
				/* ------------------------------------------------------------------------------------------------------------------------Contact--------------*/
				
				
				}
				&.about{ 
				/* ------------------------------------------------------------------------------------------------------------------------About--------------*/
				
				}
				&.services{
				/* ------------------------------------------------------------------------------------------------------------------------Services--------------*/
				
				
				}
				&.single_service {
				/* ------------------------------------------------------------------------------------------------------------------------Single service--------------*/
				
				}
				&.projects{
				/* ------------------------------------------------------------------------------------------------------------------------Projects--------------*/
				
				}
				&.single_project{
				/* ------------------------------------------------------------------------------------------------------------------------Single project--------------*/
				
				
				}
				&.thankyou{
				/* ------------------------------------------------------------------------------------------------------------------------Thank you--------------*/
				
				}
				&.realisations{
				/* ------------------------------------------------------------------------------------------------------------------------Realisations--------------*/
				
				}
				&.single_realisation{
				/* ------------------------------------------------------------------------------------------------------------------------Single realisation--------------*/
				
				
				}
				&.shop{
				/* ------------------------------------------------------------------------------------------------------------------------Shop--------------*/
				
				}
				&.single_product{
				/* ------------------------------------------------------------------------------------------------------------------------Single product--------------*/
				
				
				}
				&.blog{
				/* ------------------------------------------------------------------------------------------------------------------------Blog--------------*/
				
				}
				&.single_blog{
				/* ------------------------------------------------------------------------------------------------------------------------Single blog--------------*/
				
				
				}
				&.users{
				/* ------------------------------------------------------------------------------------------------------------------------Users--------------*/
				
				}
				&.single_user{
				/* ------------------------------------------------------------------------------------------------------------------------Single user--------------*/
				
				
				}
				&.submission{
				/* ------------------------------------------------------------------------------------------------------------------------Submission--------------*/
				
				
				}
				&.calendar{
					/* ------------------------------------------------------------------------------------------------------------------------Calendar--------------*/
				
				}
				&.maintenance{
					/* ------------------------------------------------------------------------------------------------------------------------Maintenance--------------*/
				
				}
				&.error{
					/* ------------------------------------------------------------------------------------------------------------------------Error--------------*/
				
				}
				&.faq{
					/* ------------------------------------------------------------------------------------------------------------------------FAQ--------------*/
				
				}
				&.sitemap{
					/* ------------------------------------------------------------------------------------------------------------------------sitemap--------------*/
				
				}
				&.page{
					/* ------------------------------------------------------------------------------------------------------------------------page--------------*/
				
				}
				&.politiques_terms{
					/* ------------------------------------------------------------------------------------------------------------------------politiques_terms--------------*/
				
				}
				&.subscription{
					/* ------------------------------------------------------------------------------------------------------------------------subscription--------------*/
				  
				}
				&.cart{
					/* ------------------------------------------------------------------------------------------------------------------------cart--------------*/
				
				}
				&.checkout{ 
					/* ------------------------------------------------------------------------------------------------------------------------checkout--------------*/
				
				}
				&.collections{
					/* ------------------------------------------------------------------------------------------------------------------------collections--------------*/
				
				}
				&.single_collection{
					/* ------------------------------------------------------------------------------------------------------------------------single_collection--------------*/
				
				}
				&.payment_failed{
					/* ------------------------------------------------------------------------------------------------------------------------payment_failed--------------*/
				
				}
				&.payment_thankyou{
					/* ------------------------------------------------------------------------------------------------------------------------payment_thankyou--------------*/
				
				}
				&.pay_orders{
					/* ------------------------------------------------------------------------------------------------------------------------pay_orders--------------*/
				
				}
				&.promotions{
					/* ------------------------------------------------------------------------------------------------------------------------promotions--------------*/
				
				}
				&.single_promotion{
					/* ------------------------------------------------------------------------------------------------------------------------single_promotion--------------*/
				
				}
				&.activation{
					/* ------------------------------------------------------------------------------------------------------------------------activation--------------*/
				
				}
				&.login{
					/* ------------------------------------------------------------------------------------------------------------------------login--------------*/
				
				}
				&.recovery{
					/* ------------------------------------------------------------------------------------------------------------------------recovery--------------*/
				
				} 
				&.contests{
					/* ------------------------------------------------------------------------------------------------------------------------contests--------------*/
				
				}
				&.single_contest{
					/* ------------------------------------------------------------------------------------------------------------------------single_contest--------------*/
				
				} 
				
			}
		
		}
	 
	 }
}
.suptitle{
	padding:2% 0;
	color: @color2;
	font-size:18px;
	font-weight: 400;
	display: block;
}
.square{ 
    width: auto;
    display: table;
    margin: 0 auto;
	
	h2,h4{
		color: @color;
		font-family: @font2;
		font-weight: 800;
		text-align: center; 
		font-size: 2rem;;
		padding: 0 !important;
		text-transform: uppercase;
		margin: 0;
		
	}
	
	.wrap-h2{
		text-align:left;
		width: auto;
		display: table;
		margin: 0; 
		
		.orange-bar{
			width: 110%;
		}
	}
	
	.orange-bar{ 
	
		background: @color2;
		position: relative;
		line-height: 1;
		display: block;
		margin: 0 auto;
		margin-bottom: 5%;
		width: 80%;
		left: 0;
		top: 0;
		height: 3px;
		animation: position-blue-bar 2s 1.2s infinite !important;
		 
	
	}
	
	.content-square{
		color: @color3;
	}
}

.wrapper_footer_main{


    padding: 100px 2%;
	
	.toppart_footer{
		
		position: relative;
		width: 70%;
		margin: 0 auto;
		display: table;
		
		@media screen and (max-width: 1024px){
			width: 100%;
			display: table;
		}
		
		a{
			color: @color2;
		}
		
		ul {
			display: inline;
			list-style: none;
			
			li{
						
						
				display: table-cell;
				padding: 10px 30px;
				
				
			}
			
				
			@media screen and (max-width: 1024px){
				padding: 0;
				margin: 0;
			}
		}
		.left_part_footer{
				
			width: 33%;
			vertical-align: middle;
			display: table-cell;
			text-align: center;
			@media screen and (max-width: 1024px){
				width: 100%;
				display: table;
			}
		
		}
		.middle_part_footer{
				
			width: 33%;
			vertical-align: middle;
			display: table-cell;
			text-align: center;
		
			@media screen and (max-width: 1024px){
				width: 100%;
				display: table;
			}
		}
		.right_part_footer{
				
			width: 33%;
			vertical-align: middle;
			display: table-cell; 
			text-align: center;
		
			@media screen and (max-width: 1024px){
				width: 100%;
				display: table;
			}
		}
	}
	
	.bar_footer{
		
		height: 2px;
		background: #d1d1d1;
		width: 80%;
		margin: 2% auto;
	}
	
	.bottompart_footer{
		
		.socialpart{
		
			ul {
			
						
				list-style: none;
				display: table;
				margin: 0 auto;
				
				li{
				
								
					display: table-cell;
					padding: 10px;
					
					i {
						font-size: 2rem;
						color: @color2;
					}
				}
			}
		}
	}
}
.submission_btn, .submission_button {
    padding: 10px 20px;
    background: #e97024;
    color: white;
}
.error_label{

	color: #ff0000 !important;
	border-color: #ff0000 !important;
}
.error {
	color: #ff0000 !important;
}

.cta {
    background: #e97024;
    padding: 100px 5%;
    color: white;
	
	h2 {
	
		font-size: 2rem;
	}
	.cta_txt {
		display: table;
		height: inherit;
		width: 70%;
		margin: 0 auto;
	}
	.section_left {
		display: table-cell;
		vertical-align: middle;
		width: 50%;
		
		@media screen and (max-width: 1024px){
		
			width: 100% !important;
			display: block;
		}
		
	}
	
	.section_right {
		display: table-cell;
		vertical-align: middle;
		width: 50%; 
		text-align: center;
		@media screen and (max-width: 1024px){
		
			width: 100% !important;
			display: block;
		}
		a{
					
			background: white;
			padding: 10px 20px;
			color: #e97024;
		}
	}
}

@keyframes gradient-dragon-power{
	0%{
		background-position-x:0%
	}
	50%{
		background-position-x:200%
	}
	100%{
		
		background-position-x:0%
	}

}
@keyframes position-blue-bar{
	0% {
		background-position: left center;
	}

	50% {
		background-position: right center;
	}
	100% {
		background-position: left center;
	}

}
@keyframes cellFloating{
	0% {
			transform: translateY(15%) translateX(2%) rotate(-8deg);
	}

	50% {
		transform: translateY(-12%) translateX(12%) rotate(-5deg);
	}
	100% {
			transform: translateY(15%) translateX(2%) rotate(-8deg);
	}

}

 