@url : url(http://sharky.local/images/bg.jpg) !important;
@font-face{font-family:Dragon;font-style:normal;font-weight:800;
	font-display: fallback;src:url("../plugins/fonts/Blacksword.otf") format("opentype")}
@color: #666766;
@color3:#000000;
@color2: #e97024;  
@background:#ffffff;
@background2: #111111;
@background3: #1d1d1d;
@fontsize: 19px;
@fontsizeTablet:1.1rem;
@fontsizeMobile: 1rem;
@font-size-menu: 90%; 					//navbar
@font-size-fullscreen-menu: 1.5rem;	//fullscreen-menu
@Hugefontsize: 45px;
@HugefontsizeTalet: 30px; 
@HugefontsizeMobile: 20px;
@font1: Lexend, arial;
@font2: Open Sans, arial; 