
@primaryColor = #000;
@secondaryColor = #fff;
@thirdColor = #00bcd4;
@bgcolor = #00bcd4;
@bgimg = url(../../images/bg11.jpg);
@font = 1.1rem;  
  
// GLOBALS BODY HTML

html {
   
  overflow-x: hidden;


  body{

    overflow: hidden;
	padding: 10%;
	
	
	@media screen and (max-width: 1024px){
		
		padding: 100px 2%;
	}
	background: url(../../images/bg11.jpg);
      background-position: center;
      background-attachment:fixed;
      background-size: cover;
      background-repeat: no-repeat;
	
    table{
        position: relative;
    }
	.capture {
		min-height: 100px;
	}
    .btn{
        overflow: hidden !important;
    }
    .alpha, .omega{
        @media screen and (max-width: 1600px){
            margin: 1% 1% !important;
        }
    }
    .add_credit{
      border: 2px solid @primaryColor;
      padding: 35px;
      margin-top: 10px;
      .note{
        text-align:center;
      }
    }

    .note{
      color: @primaryColor;
      font-size: 80%;
    }
    .fa-waveform{
      font-size: 2vw !important;
      float:left;
      color: #fff !important;
    }
    .header-title{
        vertical-align: middle;
        display: table;
        width: 100%;
        min-height: 180px; 

        h1{
            display: table-cell;
            vertical-align: middle;
        }
    }
	.new_page {
		float: right;
	}
    .title_table_list{
		text-align: left !important;
		display: table;
		margin: 1%;
		padding: 1%;
		table-layout: fixed;
		width: 100%;
		
		img{
			display: table-cell;
			vertical-align: middle;
			border: 2px solid black;
		}
		.subcat{
		 position: relative;
			display: none;
			vertical-align: middle;
		}
      .sub_categ{
        float:left;
		   
      }
      a{
        display: flow-root;
		display: table-cell;
		
		@media screen and (max-width: 1024px){
			display: block !important;
		}
		font-weight: 800;
		padding: 5%;
		vertical-align: middle;
      }
    }
    #panel {
      *{
        color: #000;
        font-weight:800 !important;
      }
      float: left;
      margin: 9px;

    }
    .red{
      color: #FF0000 !important;
    }
    input:-webkit-autofill {
        -webkit-text-fill-color: @thirdColor;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-internal-autofill-selected,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s !important;
        border-bottom: 2px solid #b1cbe6;
        color: rgb(255,255,255);
    }
    .table-cell{
      display: table-cell;
      vertical-align: middle;
      overflow: hidden;
      height: 300px;
      width: 300px;
    }
    a, a:visited, a:hover, a:link {
      //color: @secondaryColor;
    }
    .togglebutton label input[type=checkbox]:checked+.toggle {
        //background-color: @bgcolor;
      background-color: #00bcd4;
    }
    .dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active{
      background: @primaryColor;
      color: @thirdColor;
    }
    .form-control,
    .is-focused .form-control {
      background-image: linear-gradient(to top, @bgcolor 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #000000 1px, rgba(210, 210, 210, 0) 1px);
    }

    input:-internal-autofill-selected {
      background-color: transparent !important;
    }

	.bmd-form-group .form-control.search,.bmd-form-group label.search, .bmd-form-group input.search::placeholder{
		color: black !important;
		background:white;
	}
	.search {
	    background:rgba(255,255,255,0.95);
		padding: 5%;
		color: black !important;
	}
	.finder-icon {
		position:relative;
		margin-top: -1% !important;
	}

	.username{
		.btn {
			border-radius: 0.2rem !important;

			img{
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}
    .navbar{
	
		  position:fixed !important;
		  z-index: 15000 !important;
		  
		.logocms{
			transform: scale(2.2) translate(50%);
		}
		.imgafter{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: " ";
			z-index: -1;
			background: rgba(0,0,0,0.8);
			background:@bgimg;

			background-position: center;
			background-attachment:fixed;
			background-size: cover;
			background-repeat: no-repeat;
      }
      &:after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: " ";
		opacity: 0.9;
		z-index: -1;
		background: #051018;
      }
      .collapse {
        .navbar-nav{
          .nav-item{

            .nav-link{

              font-size: 30px;
            }
          }
        }
      }

      .container-fluid{
        .navbar-nav{
          .nav-x {

              color: @thirdColor;
          }
          .nav-items{

            .nav-link{
              &.active{
                color: @secondaryColor;

                i{
                  color: @bgcolor;
                }
              }
            }
          }
        }
      }
      .dashboard_menu_bar{
        font-size:19px;
        color: @secondaryColor;

        &.active {
          color: @bgcolor;
        }
      }
      .btn{
        border-radius: 50%;
        color: @bgcolor;
        background: black;
        box-shadow: none;
        background-color: transparent;
        background: none;
        z-index: 0;
        overflow:hidden;

        &:hover, &:active, &:focus{
          background:none;
          box-shadow:none;
        }
        img{
          height:100%;

        }
      }
    }
    .sidebar{
        overflow-x: hidden !important;
		.photo {
			border-radius: 0.2rem !important;

			img{
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

      @media screen and (min-width: 991px){ 
      }

      .logo{

      }
      .sidebar-wrapper{
        .user{

        }
        i {
          //color: @bgcolor !important;
        }
        .nav{
          .nav-item{
            [aria-expanded="true"]
            {
              background-color: rgba(200, 200, 200, 0.2);
              color: #3C4858;
              box-shadow: none;
            }
            .nav-link{
              &.active{
                background: @secondaryColor !important;
				color: @primaryColor !important;
                p,span{
					color: @primaryColor !important;
					}
                i{
                  color: @primaryColor !important;
                }
              }
            }
          }
        }
      }
      .sidebar-background{

        background-position: center;
        background-attachment:fixed;
        background-size: cover;
        background-repeat: no-repeat;
      }

    }

    #container{

		min-height: 100vh;
		width: 100%;
		margin: 0%;
		overflow: inherit;
		background: #051018f7;
		float: right;
		padding: 2%;
		top: 0;
		left: 0;

      #header{

      }
    }
  }
}
.seo_box {
  
    text-align: center;
    padding: 2%;
    box-sizing: border-box;
    .grid_6 {
        background: white;
        padding: 50px;
        text-align: left; 
    }
}
//SECTION PAGES

#content {

    color: #051018;
    font-size: 1.1rem;
    background: white;
    min-height: inherit;
    font-weight: 600;
    padding: 2%; 

  .table{
    table-layout: auto !important;
  }

  .mtop {
    max-width: 1200px;
    margin: 30px auto;
    clear: both;
  }

  //PAGE LOGIN
  &.dashboard{

	.col-lg-3{
		.card {
			justify-content: center;
		}
	}
    .table {
        table-layout: auto;
        display: table;
    }
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{

        white-space: normal;
    
	}
	.card-content {
		justify-content: center;
		display: inline-flex;
		flex-direction: column;
		flex: auto;
	}
	.middletitle{
		text-align: center;
		color: #fff; 
		left: 0;
		top: 0;
		margin: 0 auto;
		font-weight: 800;
		text-transform: uppercase;
		width: 100%;
		white-space: break-spaces;
		word-break: break-word;
		padding: 7% 10%; 
	} 
    .tableproducts{
	/* background: white; */
		color: black;
		/* padding: 2%; */
		display: block; 
		overflow: auto;
		table-layout: fixed;
		overflow-x: hidden;
		max-height: 400px;

        tbody {
            width: 100%;
            position: relative;
            display: table;
        }

		tr{
			//background: rgba(255,255,255,0.1);
			width: 80%;
			margin: 3% 0%;
			padding: 8%;
			border: 2px solid white;
			position: relative;
			border-radius: 5px;
			display: inline-table;
			padding: 2% 7%;
			//box-shadow: 0px 0px 10px white;
			
			td{
				color: white;
				padding:2%;
				img {
					background: white;
				}
			}
		}

		.firstrow{
			width: 100%;
			background: white;
			color: black !important;
		}
	}
	
	.tableorders{
			/* background: white; */
		color: black;
		/* padding: 2%; */
		display: block; 
		overflow: auto;
		table-layout: fixed;
		overflow-x: hidden;
		max-height: 400px;
		
		.firstrow{
			background: white;
			color: black !important;
		}
	}
	
	.tablelog{

		/* background: white; */
		color: black;
		/* padding: 2%; */
		display: block;
		border-collapse: separate;
		overflow: auto;
		table-layout: fixed;
		overflow-x: hidden;
		max-height: 400px;


		tr{
			background: white;
			margin: 6% 4%;
			position: relative;
			border-radius: 6px;
			display: inline-table;
			width: 80%;
			padding: 2%;
		}

		.firstrow{ 
			background: white;
			color: black !important;
		}
	}

    .card {
			justify-content: center;
      background: url(../../images/bg11.jpg);
      background-position: center;
      background-attachment:fixed;
      background-size: cover;
      background-repeat: no-repeat;
      z-index:0;
      color: #fff;
      padding: 30px;
      min-height: 250px;

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: " ";
        z-index: -1;
		opacity: 0.9;
		z-index: -1;
		background: #051018;
      }
      .ct-chart{
        height:210px;
      }
      .categ_icon{
        font-size:45px;
        color: @bgcolor;
      }
      .card-header,.category,.card-content {

        text-align:center;
      }
      .card-title, .title {
        text-align:center;
        color: #fff;
      }
      .ct-chart .ct-label {
        fill: rgba(255, 255, 255, 0.4);
        color: rgba(255, 255, 255, 0.4);
        display: -webkit-flex;
        display: flex;
      }
      .table>tbody>tr{
        border-color:@secondaryColor;
        color:@secondaryColor;
      } 
    }
  }
  &.login{

    margin:0;

    .background-login{

      background: @bgimg;
      background-attachment: fixed;
      background-size:cover;
      background-position:center;
      background-repeat:no-repeat;
      height: 100vh;
      width: 100%;
      position: absolute;
      cursor: pointer;

    }
    .background-slider-login {

      display: table;
      height:100vh;
      width:500px;
      position: absolute;
      opacity:0;
      margin-left:-100vh;
      transition: all 1.2s;
      cursor: pointer;
		
		@media screen and (max-width: 1024px){
			width: 100%;
		}
      .slider-content-login{

        margin: 0 auto;
        width: 500px;
		@media screen and (max-width: 1024px){
			width: 100%;
		}
        display:table-cell;
        vertical-align: middle;

        form {

          font: @font !important;
          cursor: default;
          width: 80%;
          margin: 0 auto;
          max-width: 500px;

          .card {

            background: none;

            .card-body{
            }
            label,
            input {
				margin: 2% 0;
              color: #fff;
            }
            .form-group{

              display: table;
              width: 100%;
              &.is-focused{
                label{
                  color: @thirdColor !important;
                }
              }
              .form-control, .is-focused .form-control {
                  background-image: linear-gradient(to top, @thirdColor 2px,
                  rgba(255, 255, 255, 0) 2px),
                  linear-gradient(to top, #d2d2d2 1px,
                  rgba(210, 210, 210, 0) 1px);
              }
            }
          }
        }
      }
    }
	.img-center{
		width: 100%;
		text-align: center;
		display: block;

		img {
			max-width:50%; 
		}
	}
    .show-slider-login {
      margin-left:0;
      opacity: 1;
      background: rgba(0,0,0,0.8);

    }
	.card-footer {
		justify-content: center;
	}
    .btn{
      background: @thirdColor;
    }
    .btn-success {
        color: #ffffff;
        background-color: @thirdColor;
        border-color: @thirdColor;
        box-shadow: none;
    }
  }
  //PAGE GESTION PAGES
  &.categories{
	.tablecustompage{
		width: 80% !important;
		margin:0 auto;
		
		.grid_6 {
			padding: 2%;
		}
	}
    .card {
	
		i{
			font-size: 1.5rem;
			color: #fff;
		}
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 0;
		/* color: #fff; */
		padding: 30px;
		
		&:after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: " ";
			z-index: -1;
			opacity: 0.9;
			z-index: -1;
			background: #051018;
		}
    }
	thead{
		background: #0a141b;
		color: white;
		width: 100%;
		
		@media screen and (max-width: 1024px){
			display: none !important;
		}
	}
    tbody{

	background-position: center;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    width: 100%;

      tr{
        //background: rgba(0,0,0,1);
		    position: relative;
		/* background: black; */
		border-bottom: 2px solid;
		color: black;
		/* line-height: 0; */
		width: 100%;
		font-weight: 800;
		
		@media screen and (max-width: 1024px){
			display: block !important;
			
			td {
				width: 100% !important;
				display: block !important;
				text-align: center !important;
				.title_table_list, .title_table_list a{
					width: 100%;
				}
				img{
					margin: 2% auto;
				}
			}
		}
        i{
          font-size: 1.5rem;
          //color: #fff;
        }

      }
    }
    div[class*="cke_"]{
      min-height:400px;
    }
    .Level_0{
      //background: rgba(0, 0, 0,0.5) !important;
      .subcat *{
        text-indent:15px;
        float:left;
        padding-right:5px;
      }
    }
    .Level_1{ 
		color: #fff;
		background: rgba(4, 15, 23, 1);
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		
      color: @secondaryColor;
	   
	  &:after{
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
		height: 100%;
		background: #000000e0;
		background: black url(../../images/bg11.jpg);
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
	  }
      .subcat *{
        text-indent: 30px;
        float: left;
        margin-left: 30px;
      }
    }
    .Level_2{ 
		background: rgba(4, 16, 25,0.9) !important;
		color: #fff;
      .subcat *{
        text-indent: 60px;
        float: left;
        margin-left: 60px;
      }
    }
    .Level_3{
		background: rgba(4, 16, 25,0.7) !important;
      color: @secondaryColor;
      .subcat *{
        text-indent: 90px;
        float: left;
        margin-left: 90px;
      }
    }
    .Level_4{
		background: rgba(4, 16, 25,0.6) !important;
      color: @secondaryColor;
      .subcat *{
        text-indent: 120px;
        float: left;
        margin-left: 120px;
      }
    }
    .Level_5{
		background: rgba(4, 16, 25,0.5) !important;
      color: @secondaryColor;
      .subcat *{
        text-indent: 150px;
        float: left;
        margin-left: 150px;
      }
    }
    .Level_6{
      background: #121212 !important;
      color: @secondaryColor;
      .subcat *{
        text-indent: 180px;
        float: left;
        margin-left: 180px;
      }
    }
    .Level_7{
      background: #121212 !important;
      color: @secondaryColor;
      .subcat *{
        text-indent: 210px;
        float: left;
        margin-left: 210px;
      }
    }
    .Level_8{
      background: #121212 !important;
      color: @secondaryColor;
      .subcat *{
        text-indent: 240px;
        float: left;
        margin-left: 240px;
      }
    }
    .Level_9{
      background: #121212 !important;
      color: @secondaryColor;
      .subcat *{
        text-indent: 270px;
        float: left;
        margin-left: 270px; 
      }
    }
    .Level_10{
      background: #121212 !important;
      color: @secondaryColor;
      .subcat *{
        text-indent: 300px;
        float: left;
        margin-left: 300px;
      }
    }
    //Page edit
    .edit{
      background:black;
      padding:50px;
      .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
          padding: 12px 8px;
          vertical-align: middle;
          border-color: transparent !important;
      }
    }
	
	.moduleblock{
		display:block;
		margin-bottom: 1%;
		color:#2196f3;
		font-weight: 800;
	}
  }
  //PAGE PRODUITS
  &.products{

  }
  //NEWSLETTER
  &.newsletter{
    .links {
        display: inline-block;
        width: 100%;
        text-align: center;

        ul {
            text-decoration: none;
            display: inline;

            li {
                display: inline-block;
                padding: 0px 10px;
                vertical-align: middle;

                a{
                    &.active {
                        border-bottom: 2px solid black;
                    }

                    &.infolettrebtn {
                    	box-shadow: 3px 4px 0px 0px #1564ad;
                    	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
                    	background-color:#79bbff;
                    	border-radius:5px;
                    	border:1px solid #337bc4;
                    	display:inline-block;
                    	cursor:pointer;
                    	color:#ffffff;
                    	font-family:Arial;
                    	font-size:17px;
                    	font-weight:bold;
                    	padding:12px 44px;
                    	text-decoration:none;
                    	text-shadow:0px 1px 0px #528ecc;
                    }
                    &.infolettrebtn:hover {
                    	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
                    	background-color:#378de5;
                    }
                    &.infolettrebtn:active {
                    	position:relative;
                    	top:1px;
                    }

                }
            }
        }
    }
  }
  //PAGE COMPTES
  &.tess_users, &.profile{
    .header-title.profile {
      h1{
        @media screen and (min-width: 1024px){
          display:none;
        }
      }
    }
	.card {
		min-height: 400px;
	}
    .middle_header{
      @media screen and (max-width: 1600px) and (min-width: 1024px){
        top: 5%;
        position: absolute;
        left: 0%;


      }
      @media screen and (min-width: 1601px){
        top: 5%;
        position: absolute;
        left: 25%;


      }
	  text-align: center;
		
		img {
			background: white;
		}
    }
    .mbot{ 
		margin-bottom: 154px;
    }
  }
  //PAGE COMMANDES
  &.orders{

  } 
}
.container_newsletter{
    width: 50%;
    margin: 0 auto;
}
.list_newsletters_tables {
        width: 100%;

        .td-actions {
            text-align: right;

            a{
                padding: 5px !important;
            }
        }
}
.result_seek tr td img{
	display: block;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}
td.td-actions{
	white-space: nowrap;
}
.ps-container>.ps-scrollbar-y-rail {
	height: 100% !important;
	
	&:before {
	 content: "";
    position: fixed;
    height: 100%;
    width: 100%; 
    background-repeat: repeat-y;
    background-attachment: fixed;
    content: ""; 
    background: rgba(0, 0, 0,0.37) url(http://vignome.local/administration/images/bg11.jpg) fixed 0;
    top: 0px;
    right: 0px; 
    position: absolute;
    display: inline-block;  
    background-size: cover;
    z-index: 22;
	}
}
.isLoginPage {
	padding: 0 !important;
}